%h1
  %i.fa.fa-money
  Resellers

%h2
  %i.fa.fa-dashboard
  Platform Stats

= render partial: 'stats', locals: {stats: @platform_stats[:vcpu], title: 'VCPUs', unit: 'cores'}
= render partial: 'stats', locals: {stats: @platform_stats[:ram],  title: 'RAM',   unit: 'TB'   }
= render partial: 'stats', locals: {stats: @platform_stats[:disk], title: 'Disk',  unit: 'PB'   }
