&nbsp;
.jumbotron.bg-info
  %h3
    = image_tag 'logo_small.png'
    Welcome
  %p== This is the DataCentred online control panel.

  %em== If you have any questions or issues, please report them via the #{link_to 'Support Tickets', support_tickets_path} section.
