body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1#main-title, h2 {
  font-size: 2.5em;
  -webkit-tap-highlight-color: transparent;
  color: #333;
  line-height: 1.2;
  font-weight: 300;
  background: -webkit-linear-gradient(270deg, #360c49, #247ab9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
}

/*header {
  padding-left: 10px;
  padding-right: 10px;
  background: #213550;
  position: relative;
  z-index: 20;
  height:98px;
  margin-bottom: 30px
}

img.logo {
  margin-top: 18px;
  margin-left: 10px;
  float: left;
}

h1#main-title {
  margin-bottom: 20px;
  font-size: 40px
}
a {
  color: #50719C;
  text-decoration: none;
}

span.label.label-inverse {
  background-color: #9C7221;
}*/