- title "Usage Data"

%h3
  Usage Data:
.usage-form
= form_tag(admin_usage_path(@organization), 'role' => 'form', 'method' => 'put') do
  .form-group
    = select_tag :month_year, @usage_nav, id: 'admin-month-year', class: 'form-control'
  .form-group
    %label Format
    = select_tag :format, options_for_select(['HTML (default)', 'CSV'], selected: 'HTML (default)'), class: 'form-control'

  = submit_tag 'Generate →', class: 'btn btn-primary'
