.panel-body.div-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.customer-search-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.back_to_dashboard_link {
  float: right;
  clear:both;
  padding-top: 50px;
}

a.btn-search-customer {
  float: right;
}

.header-container {
  padding-left: 0;
  padding-right: 0;
}

.container.search-customer-container {
  position: relative;
  margin-top: 120px;
  width: 100%;
}

.search-title {
  padding: 20px 20px 20px 20px;
}

div.container {
  padding-left: 0px;
  padding-right: 0px;
}

div.col-md-9 {
  padding-left: 0px;
  padding-right: 0px;
}

div.col-md-3 {
  padding-right: 0px;
}

div.btn-unfreeze {
  margin-top: 10px;
}

a.btn.btn-primary.btn-activate-manually {
  margin-top: 10px;
}

a.btn.btn-primary.btn-migrate {
  margin-top: 10px;
}

a.link-usage-data {
  float: right;
}

.panel-body.div-padding ul li {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

div.row.info-list ul li {
  list-style-type: none;
}

.container.information-partial {
  width: auto;
}

input.form-control.small-customer-search {
  opacity: 0.6;
  text-align: center;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
}

span.fa-search.fa-lg { 
  position: absolute;
  color: #CC142F;
  top: 10px;
  left: 20px;
}

input.customer-search-bar {
  opacity: 0.6;
  text-align: center;
  font-size: 28px;
  height: 43px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: relative;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
}

span.fa-search { 
  position: absolute;
  color: #CC142F;
  top: 7px;
  left: 10px;
}

.account-type-title {
  text-align: right;
}

select {
  padding-bottom: 10px;
  clear: both;
}

.usage-form {
  padding-top: 25px;
}
