div.admin-customer-header {
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  background: #d9edf7;
  padding-bottom: 10px;
  border-bottom: 1px solid #bce8f1;
}

div.admin-customer-search {
  margin-top: 120px;
  width: 100%;
  position: relative;
  background: #eee;
  padding: 10px;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.customer-search-header {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: space-between;
}

div.header-search {
  position: relative;
  width: 100%;
}

div.admin-customer-section div.btn-unfreeze {
  margin-top: 10px;
}

div.admin-customer-section a.btn-activate-manually {
  margin-top: 10px;
}

div.admin-customer-section a.btn-migrate {
  margin-top: 10px;
}

div.admin-customer-section a.link-usage-data {
  float: right;
}

div.admin-customer-section .panel-body.panel-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.admin-customer-section .panel-body ul li {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

div.admin-customer-section .panel#users-panel {
  max-height: 500px;
  overflow: auto;
}

div.admin-customer-section div.row.info-list ul li {
  list-style-type: none;
}

div.admin-customer-section .customer-information {
  width: auto;
}

div.admin-customer-search input.customer-search, div.header-search input.customer-search {
  opacity: 0.6;
  text-align: center;
  padding-left: 50px;
  font-size: 28px;
  height: 43px;
  font-style: normal;
  font-weight: normal;
  position: relative;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
}

div.header-search input.customer-search.small-search {
  padding-left: 30px;
  font-size: 14px;
  height: 32px;
  min-width: 358px;
}

div.admin-customer-search span.small-search-icon, div.header-search span.small-search-icon {
  position: relative;
  color: #CC142F;
  top: 25px;
  left: 10px;
}

div.admin-customer-search span.main-search-icon {
  position: relative;
  color: #CC142F;
  top: 36px;
  left: 12px;
}

div.admin-customer-search div.usage-form {
  padding-top: 25px;
}

div.customer-search-header div.back_to_dashboard {
  padding-top: 35px;
}

div.header-search {
  position: relative;
  width: 100%;
}

.customer-margin {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

@media (max-width: 991px) {
  div.admin-customer-header input.small-search {
    min-width: 291px;
  }

  div.header-search input.small-search {
    font-size: 24px !important;
    height: 50px !important;
  }

  div.admin-customer-search input.customer-search {
    font-size: 22px;
  }

  div.customer-search-header {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  div.header-search span.small-search-icon {
    font-size: 28px;
    top: 36px;
  }
}

input#organization_projects_limit {
  margin-bottom: 10px;
}

div.container.customer-margin {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

div.container.usage_data_container {
  padding-left: 0px;
}

div#paying_and_account_type {
  height: 30px;
}

div#state-container {
  margin: 10px 10px 10px 0;
}

div#state_history_link {
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px 5px 5px;
}

.container-fluid#dashboard-tabs {
  padding-top: 20px;
}
