.inline-javascript-message h3 {
  font-size: 12px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

input.billing_rate_edit {
  height: 40px;
}

#small-save {
  padding: 4px;
}