.modal.fade#addRole{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "addRole", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      = form_for @new_role, url: support_roles_path, :remote => true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title#addRole
            %i.fa.fa-key
            Add Role
          %p Give the new role a name that describes its responsibilities.
        .modal-body
          = javascript_error_messages_for(@new_role)
          .input-group
            %span.input-group-addon
              %i.fa.fa-key
            = f.text_field :name, placeholder: 'Name', class: "form-control", autofocus: true
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            Cancel
          = submit_tag 'Create', class: 'btn btn-primary', id: 'submit'
