- title "Quota Limits"

%h1
  %i.fa.fa-pie-chart
  Quota Limits

.table-responsive
  %table.table.table-striped
    %thead
      %th Organization
      %th
    %tbody
      - for organization in @organizations
        %tr
          %td= organization.name 
          %td= link_to 'Update Quotas', edit_admin_quota_path(organization)