.info

.pull-right
  %a{href: restart_admin_queue_index_path, class: 'btn btn-danger', data: {confirm: 'This will take a few seconds. Are you sure?', method: 'PUT', remote: true}}
    %i.fa.fa-refresh
    Restart?
%h1
  %i.fa.fa-heartbeat
  Background Queue
.alert.alert-info
  %i.fa.fa-info-circle
  Long-running tasks are executed on the queue.

%iframe{src: [sidekiq_web_path, "busy?poll=true"].join("/"), frameborder: 0, style: 'border: solid 1px', height: "1000px", width: "100%"}