---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"[redacted]"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-11ed9184-f59f-4d88-b74f-86525c044478
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access": {"token": {"issued_at": "2015-03-31T06:20:13.162118", "expires":
        "2015-03-31T07:20:13Z", "id": "3dce9cfdd95245009905aa7a3f41e2ea", "tenant":
        {"description": null, "enabled": true, "id": "2fe3fd6518ea4fca9540da4931905120",
        "name": "admin"}, "audit_ids": ["P6_fIay-T7OgoqUwonbBTw"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://185.43.218.210:8774/v2.1/2fe3fd6518ea4fca9540da4931905120",
        "region": "RegionOne", "internalURL": "http://185.43.218.210:8774/v2.1/2fe3fd6518ea4fca9540da4931905120",
        "id": "3ae34b6e8ca0406093184f88630105ae", "publicURL": "http://185.43.218.210:8774/v2.1/2fe3fd6518ea4fca9540da4931905120"}],
        "endpoints_links": [], "type": "computev21", "name": "novav21"}, {"endpoints":
        [{"adminURL": "http://185.43.218.210:8774/v2/2fe3fd6518ea4fca9540da4931905120",
        "region": "RegionOne", "internalURL": "http://185.43.218.210:8774/v2/2fe3fd6518ea4fca9540da4931905120",
        "id": "dbce7d2f9a7646f199550b337d6352e5", "publicURL": "http://185.43.218.210:8774/v2/2fe3fd6518ea4fca9540da4931905120"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://185.43.21[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3dce9cfdd95245009905aa7a3f41e2ea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 31 Mar 2015 06:20:23 GMT
- request:
    method: put
    uri: http://185.43.218.210:35357/v2.0/tenants/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3dce9cfdd95245009905aa7a3f41e2ea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 31 Mar 2015 06:20:23 GMT
[...]
- request:
    method: post
    uri: http://185.43.218.210:9696/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"default"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3dce9cfdd95245009905aa7a3f41e2ea
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-46fc37a6-4a8a-4a82-8ca5-7f175d875e82
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "provider:physical_network":
        null, "mtu": 0, "id": "3f96775f-0ad6-4f1b-90f2-66ff198822d1", "provider:segmentation_id":
        1004, "router:external": false, "name": "default", "admin_state_up": true,
        "tenant_id": "2fe3fd6518ea4fca9540da4931905120", "provider:network_type":
        "vxlan", "vlan_transparent": false, "shared": false}}'
  recorded_at: Tue, 31 Mar 2015 06:20:23 GMT
[...]
- request:
    method: post
    uri: http://185.43.218.210:9696/v2.0/subnets
    body:
      encoding: UTF-8
      string: '{"subnet":{"network_id":"3f96775f-0ad6-4f1b-90f2-66ff198822d1","cidr":"192.168.0.0/24","ip_version":4,"name":"default","dns_nameservers":["8.8.8.8","8.8.4.4"]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 488f3ee370fe4b538497ff6332a636f7
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-a145f050-f1e9-415d-89f5-5ba2c866a4a1
    body:
      encoding: UTF-8
      string: '{"subnet": {"name": "default", "enable_dhcp": true, "network_id": "3f96775f-0ad6-4f1b-90f2-66ff198822d1",
        "tenant_id": "2fe3fd6518ea4fca9540da4931905120", "dns_nameservers": ["8.8.4.4",
        "8.8.8.8"], "gateway_ip": "192.168.0.1", "ipv6_ra_mode": null, "allocation_pools":
        [{"start": "192.168.0.2", "end": "192.168.0.254"}], "host_routes": [], "ip_version":
        4, "ipv6_address_mode": null, "cidr": "192.168.0.0/24", "id": "6912ccb6-9eaf-466b-8122-0d66ff0a911f"}}'
  recorded_at: Tue, 31 Mar 2015 06:20:24 GMT
[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7e5fae02da5a4f3d9d3b1165b1898898
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7c85e0f7-6dad-4a98-8985-376d0244ad9d
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": ["6912ccb6-9eaf-466b-8122-0d66ff0a911f"],
        "provider:physical_network": null, "mtu": 0, "id": "3f96775f-0ad6-4f1b-90f2-66ff198822d1",
        "provider:segmentation_id": 1004, "router:external": false, "name": "default",
        "admin_state_up": true, "tenant_id": "2fe3fd6518ea4fca9540da4931905120", "provider:network_type":
        "vxlan", "vlan_transparent": false, "shared": false}, {"status": "ACTIVE",
        "subnets": ["093b1f09-364d-4543-9417-7298[...]
[...]
- request:
    method: post
    uri: http://185.43.218.210:9696/v2.0/routers
    body:
      encoding: UTF-8
      string: '{"router":{"name":"default","external_gateway_info":{"network_id":"99ac9ab6-68d6-4307-9e0f-cba3d94cd9ef"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c726a9d859c24558ae86fb06539594f0
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-295271ba-ae1b-4d74-8b32-8312440a5614
    body:
      encoding: UTF-8
      string: '{"router": {"status": "ACTIVE", "external_gateway_info": {"network_id":
        "99ac9ab6-68d6-4307-9e0f-cba3d94cd9ef", "enable_snat": true, "external_fixed_ips":
        [{"subnet_id": "093b1f09-364d-4543-9417-729898084228", "ip_address": "172.24.4.6"}]},
        "name": "default", "admin_state_up": true, "tenant_id": "2fe3fd6518ea4fca9540da4931905120",
        "distributed": false, "routes": [], "ha": false, "id": "9892ea8a-85d2-4d2f-b25c-45a8ee99e3a6"}}'
  recorded_at: Tue, 31 Mar 2015 06:20:25 GMT
[...]
- request:
    method: put
    uri: http://185.43.218.210:9696/v2.0/routers/9892ea8a-85d2-4d2f-b25c-45a8ee99e3a6/add_router_interface
    body:
      encoding: UTF-8
      string: '{"subnet_id":"6912ccb6-9eaf-466b-8122-0d66ff0a911f"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dc0dd51e934d4857bbc8ad81d71a76ea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7034b56b-897a-400a-860b-405903c668f6
    body:
      encoding: UTF-8
      string: '{"subnet_id": "6912ccb6-9eaf-466b-8122-0d66ff0a911f", "tenant_id":
        "2fe3fd6518ea4fca9540da4931905120", "port_id": "1d8fbbcd-41dd-4153-b124-54a70ed8b462",
        "id": "9892ea8a-85d2-4d2f-b25c-45a8ee99e3a6"}'
  recorded_at: Tue, 31 Mar 2015 06:20:26 GMT
recorded_with: VCR 2.9.3
