---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"[redacted]"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-11ed9184-f59f-4d88-b74f-86525c044478
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access": {"token": {"issued_at": "2015-03-31T06:20:13.162118", "expires":
        "2015-03-31T07:20:13Z", "id": "3dce9cfdd95245009905aa7a3f41e2ea", "tenant":
        {"description": null, "enabled": true, "id": "2fe3fd6518ea4fca9540da4931905120",
        "name": "admin"}, "audit_ids": ["P6_fIay-T7OgoqUwonbBTw"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://185.43.218.210:8774/v2.1/2fe3fd6518ea4fca9540da4931905120",
        "region": "RegionOne", "internalURL": "http://185.43.218.210:8774/v2.1/2fe3fd6518ea4fca9540da4931905120",
        "id": "3ae34b6e8ca0406093184f88630105ae", "publicURL": "http://185.43.218.210:8774/v2.1/2fe3fd6518ea4fca9540da4931905120"}],
        "endpoints_links": [], "type": "computev21", "name": "novav21"}, {"endpoints":
        [{"adminURL": "http://185.43.218.210:8774/v2/2fe3fd6518ea4fca9540da4931905120",
        "region": "RegionOne", "internalURL": "http://185.43.218.210:8774/v2/2fe3fd6518ea4fca9540da4931905120",
        "id": "dbce7d2f9a7646f199550b337d6352e5", "publicURL": "http://185.43.218.210:8774/v2/2fe3fd6518ea4fca9540da4931905120"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://185.43.21[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3dce9cfdd95245009905aa7a3f41e2ea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 31 Mar 2015 06:20:23 GMT
- request:
    method: put
    uri: http://185.43.218.210:35357/v2.0/tenants/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3dce9cfdd95245009905aa7a3f41e2ea
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 31 Mar 2015 06:20:23 GMT
[...]
- request:
    method: post
    uri: http://185.43.218.210:9696/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"default"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 8926425ffe514813be90530d5a93497e
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-a3dbc78f-7fb1-4eab-b8d3-7c299af547e3
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "provider:physical_network":
        null, "mtu": 0, "id": "986fec96-062d-4eb4-ad1f-822f844ecb7f", "provider:segmentation_id":
        1005, "router:external": false, "name": "default", "admin_state_up": true,
        "tenant_id": "2fe3fd6518ea4fca9540da4931905120", "provider:network_type":
        "vxlan", "vlan_transparent": false, "shared": false}}'
  recorded_at: Tue, 31 Mar 2015 06:21:09 GMT
[...]
- request:
    method: post
    uri: http://185.43.218.210:9696/v2.0/subnets
    body:
      encoding: UTF-8
      string: '{"subnet":{"network_id":"986fec96-062d-4eb4-ad1f-822f844ecb7f","cidr":"192.168.0.0/24","ip_version":4,"name":"default","dns_nameservers":["8.8.8.8","8.8.4.4"]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b2e99f954d6f4078b0f5faafa64785e1
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d709d6cf-8e5c-491a-8414-8e813166a144
    body:
      encoding: UTF-8
      string: '{"subnet": {"name": "default", "enable_dhcp": true, "network_id": "986fec96-062d-4eb4-ad1f-822f844ecb7f",
        "tenant_id": "2fe3fd6518ea4fca9540da4931905120", "dns_nameservers": ["8.8.4.4",
        "8.8.8.8"], "gateway_ip": "192.168.0.1", "ipv6_ra_mode": null, "allocation_pools":
        [{"start": "192.168.0.2", "end": "192.168.0.254"}], "host_routes": [], "ip_version":
        4, "ipv6_address_mode": null, "cidr": "192.168.0.0/24", "id": "c7edd965-4af2-4b98-badf-6bde3afc114f"}}'
  recorded_at: Tue, 31 Mar 2015 06:21:10 GMT
[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3b17f362d5874589892dc97770fe8c5a
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-5841028a-5f61-465c-a78e-8794bc23d859
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": ["6912ccb6-9eaf-466b-8122-0d66ff0a911f"],
        "provider:physical_network": null, "mtu": 0, "id": "3f96775f-0ad6-4f1b-90f2-66ff198822d1",
        "provider:segmentation_id": 1004, "router:external": false, "name": "default",
        "admin_state_up": true, "tenant_id": "2fe3fd6518ea4fca9540da4931905120", "provider:network_type":
        "vxlan", "vlan_transparent": false, "shared": false}, {"status": "ACTIVE",
        "subnets": ["c7edd965-4af2-4b98-badf-6bde[...]
[...]
- request:
    method: post
    uri: http://185.43.218.210:9696/v2.0/routers
    body:
      encoding: UTF-8
      string: '{"router":{"name":"default","external_gateway_info":{"network_id":"99ac9ab6-68d6-4307-9e0f-cba3d94cd9ef"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f44432a97a974757bebfde2b47c11250
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1f486c1a-ae8e-4b73-a263-7119c5854e1f
    body:
      encoding: UTF-8
      string: '{"router": {"status": "ACTIVE", "external_gateway_info": {"network_id":
        "99ac9ab6-68d6-4307-9e0f-cba3d94cd9ef", "enable_snat": true, "external_fixed_ips":
        [{"subnet_id": "093b1f09-364d-4543-9417-729898084228", "ip_address": "172.24.4.7"}]},
        "name": "default", "admin_state_up": true, "tenant_id": "2fe3fd6518ea4fca9540da4931905120",
        "distributed": false, "routes": [], "ha": false, "id": "8e82e916-cae8-4e2c-a42f-b8b8eeade018"}}'
  recorded_at: Tue, 31 Mar 2015 06:21:11 GMT
[...]
- request:
    method: put
    uri: http://185.43.218.210:9696/v2.0/routers/8e82e916-cae8-4e2c-a42f-b8b8eeade018/add_router_interface
    body:
      encoding: UTF-8
      string: '{"subnet_id":"c7edd965-4af2-4b98-badf-6bde3afc114f"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3c223c61c7d34bc88a491fe5d70c6f98
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-72ad96f9-c51c-4502-8b26-83e2ee032842
    body:
      encoding: UTF-8
      string: '{"subnet_id": "c7edd965-4af2-4b98-badf-6bde3afc114f", "tenant_id":
        "2fe3fd6518ea4fca9540da4931905120", "port_id": "c14b4b3e-5bb7-4ae7-a3bc-c05030e5dfce",
        "id": "8e82e916-cae8-4e2c-a42f-b8b8eeade018"}'
  recorded_at: Tue, 31 Mar 2015 06:21:12 GMT
[...]
- request:
    method: put
    uri: http://185.43.218.210:9696/v2.0/routers/7725973f-266f-4bfc-ac1c-9acf56a3e9ce/add_router_interface
    body:
      encoding: UTF-8
      string: '{"subnet_id":"1dc91d38-b815-4947-bb08-f85a9a5aafd9"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 14d721f76a064af48e27da9401774e61
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-007714c2-5d53-4b0c-aa66-10dcb4355b2a
    body:
      encoding: UTF-8
      string: '{"subnet_id": "1dc91d38-b815-4947-bb08-f85a9a5aafd9", "tenant_id":
        "2fe3fd6518ea4fca9540da4931905120", "port_id": "a19c0a16-1f05-4a24-9517-ae1817fbe9ec",
        "id": "7725973f-266f-4bfc-ac1c-9acf56a3e9ce"}'
  recorded_at: Tue, 31 Mar 2015 06:21:22 GMT
recorded_with: VCR 2.9.3
