---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"L7joid2rTaokFJ","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - b7beaf7e9b7d43c8a9a0a5ce1ae68a69
      X-Openstack-Request-Id:
      - req-a285b200-857e-4eb1-a762-cef68346b8ef
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "1cdbf6fab7f544898c2d5e9260645209",
        "name": "admin"}], "expires_at": "2016-09-19T08:18:03.926607Z", "project":
        {"domain": {"id": "default", "name": "Default"}, "id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "internal",
        "id": "0740555784874fdd8d6d1f92c04541bf"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "public",
        "id": "9f71abc341544cc4941be8261e94a6fc"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "admin",
        "id": "ac15153252bf4a4f88896c7562aaaba1"}], "type": "metering", "id": "04053abbdf7f47a396f2a432ab0ba567",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://185.43.218.210:9696/",
        "region": "RegionOne", "interface": "admin", "id": "5ec8ef9e98024c42a3a5fbdf44acc722"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:9696/", "region":
        "RegionOne", "interface": "public", "id": "6b2fb734a8864c80acca5e3ed470d8c5"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:969[...]
- request:
    method: get
    uri: http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac/servers/detail.json?all_tenants=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b7beaf7e9b7d43c8a9a0a5ce1ae68a69
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-3d360bda-8916-42f4-b31b-ce12ab293828
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "SHUTOFF", "updated": "2016-08-30T16:44:23Z",
        "hostId": "eaa3970d4ad6ce7025769295b443a95ab5a055f48241c04c9f1d0425", "OS-EXT-SRV-ATTR:host":
        "devstack", "addresses": {}, "links": [{"href": "http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac/servers/4bb7d38e-6fa3-4985-9926-70e5d14c2847",
        "rel": "self"}, {"href": "http://185.43.218.210:8774/06a9a90c60074cdeae5f7fdd0048d9ac/servers/4bb7d38e-6fa3-4985-9926-70e5d14c2847",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "57a67f8a-7bae-4578-b684-b9b4dcd48d7f",
        "links": [{"href": "http://185.43.218.210:8774/06a9a90c60074cdeae5f7fdd0048d9ac/images/57a67f8a-7bae-4578-b684-b9b4dcd48d7f",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "stopped", "OS-EXT-SRV-ATTR:instance_name": "instance-00000010", "OS-SRV-USG:launched_at":
        "2016-08-23T11:34:19.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "devstack",
        "flavor": {"id": "1", "links": [{"href": "http://185.43.218.210:8774/06a9a90c60074cdeae5f7fdd0048d9ac/flavors/1",
        "rel": "bookmark"}]}, "id": "4bb7d38e-6fa3-4985-9926-70e5d14c2847", "OS-SRV-USG:terminated_at":
        null, "OS-EXT-AZ:availability_zone": "nova", "user_id": "fb675d3f17e145f1aa0429cd7f84c317",
        "name": "test", "created": "2016-08-23T11:34:02Z", "tenant_id": "612bfb90f93c4b6e9ba515d51bb16022",
        "OS-DCF:diskConfig": "MANUAL", "os-extended-volumes:volumes_attached": [],
        "accessIPv4": "", "accessIPv6": "", "OS-EXT-STS:power_state": 4, "config_drive":
        "True", "metadata": {}}]}'
  recorded_at: Mon, 19 Sep 2016 07:18:04 GMT
[...]
- request:
    method: get
    uri: http://185.43.218.210:8776/v2/06a9a90c60074cdeae5f7fdd0048d9ac/volumes/detail?all_tenants=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b7beaf7e9b7d43c8a9a0a5ce1ae68a69
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Compute-Request-Id:
      - req-51176e06-a80d-4676-b380-17055a3705fb
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-51176e06-a80d-4676-b380-17055a3705fb
    body:
      encoding: UTF-8
      string: '{"volumes": []}'
  recorded_at: Mon, 19 Sep 2016 07:18:05 GMT
[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b7beaf7e9b7d43c8a9a0a5ce1ae68a69
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Mon, 19 Sep 2016 07:18:07 GMT
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/floatingips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b7beaf7e9b7d43c8a9a0a5ce1ae68a69
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-6550ed9a-2397-4c63-8cff-738b15cff50d
    body:
      encoding: UTF-8
      string: '{"floatingips": [{"floating_network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "router_id": null, "fixed_ip_address": null, "floating_ip_address": "172.24.4.216",
        "tenant_id": "0604abc562db4a3a8d4518025fca5822", "status": "DOWN", "port_id":
        null, "id": "06ff91df-3c1c-46ae-b52a-f40d900b270c"}, {"floating_network_id":
        "6c26271f-cb22-4f0a-9274-8a7c29263ab2", "router_id": null, "fixed_ip_address":
        null, "floating_ip_address": "172.24.4.217", "tenant_id": "0604abc562db4a3a8d4518025fca5822",
        "status": "DOWN", "port_id": null, "id": "64dfb938-f3e6-4714-9a4c-8667c2de3e35"},
        {"floating_network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2", "router_id":
        null, "fixed_ip_address": null, "floating_ip_address": "172.24.4.213", "tenant_id":
        "06a9a90c60074cdeae5f7fdd0048d9ac", "status": "DOWN", "port_id": null, "id":
        "726b0342-89a9-41c6-a979-5005d00ce1b4"}, {"floating_network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "router_id": null, "fixed_ip_address": null, "floating_ip_address": "172.24.4.66",
        "tenant_id": "612bfb90f93c4b6e9ba515d51bb16022", "status": "DOWN", "port_id":
        null, "id": "8136a145-17cc-4197-91d9-e81898f7bfe3"}]}'
  recorded_at: Mon, 19 Sep 2016 07:18:07 GMT
[...]
