---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"[redacted]","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - dd13c2be34684ad2bf1c3e6b8b8077a1
      X-Openstack-Request-Id:
      - req-06a9607b-35a1-482a-8d7a-0c482a923d96
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "1cdbf6fab7f544898c2d5e9260645209",
        "name": "admin"}], "expires_at": "2016-07-12T11:35:26.822925Z", "project":
        {"domain": {"id": "default", "name": "Default"}, "id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "internal",
        "id": "0740555784874fdd8d6d1f92c04541bf"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "public",
        "id": "9f71abc341544cc4941be8261e94a6fc"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "admin",
        "id": "ac15153252bf4a4f88896c7562aaaba1"}], "type": "metering", "id": "04053abbdf7f47a396f2a432ab0ba567",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://185.43.218.210:9696/",
        "region": "RegionOne", "interface": "admin", "id": "5ec8ef9e98024c42a3a5fbdf44acc722"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:9696/", "region":
        "RegionOne", "interface": "public", "id": "6b2fb734a8864c80acca5e3ed470d8c5"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:969[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd13c2be34684ad2bf1c3e6b8b8077a1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 12 Jul 2016 10:35:27 GMT
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/floatingips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd13c2be34684ad2bf1c3e6b8b8077a1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e5eebbf0-ad3a-4e7b-b778-36808e14066d
    body:
      encoding: UTF-8
      string: '{"floatingips": [{"floating_network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "router_id": "f21588e3-2fbd-4ce7-9dff-385191a0c57a", "fixed_ip_address": "192.168.0.2",
        "floating_ip_address": "172.24.4.216", "tenant_id": "0604abc562db4a3a8d4518025fca5822",
        "status": "DOWN", "port_id": "c88c667b-10d3-4e7d-8a5a-ed3f9cf1b774", "id":
        "06ff91df-3c1c-46ae-b52a-f40d900b270c"}, {"floating_network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "router_id": null, "fixed_ip_address": null, "floating_ip_address": "172.24.4.214",
        "tenant_id": "06a9a90c60074cdeae5f7fdd0048d9ac", "status": "DOWN", "port_id":
        null, "id": "24ef48cf-6999-42ef-8533-e5eb2835e00f"}, {"floating_network_id":
        "6c26271f-cb22-4f0a-9274-8a7c29263ab2", "router_id": null, "fixed_ip_address":
        null, "floating_ip_address": "172.24.4.213", "tenant_id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "status": "DOWN", "port_id": null, "id": "726b0342-89a9-41c6-a979-5005d00ce1b4"}]}'
  recorded_at: Tue, 12 Jul 2016 10:35:27 GMT
[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/routers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd13c2be34684ad2bf1c3e6b8b8077a1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-c7bd28be-53f7-4271-aeb7-984282ea5fda
    body:
      encoding: UTF-8
      string: '{"routers": [{"status": "ACTIVE", "external_gateway_info": {"network_id":
        "6c26271f-cb22-4f0a-9274-8a7c29263ab2", "enable_snat": true, "external_fixed_ips":
        [{"subnet_id": "100373ba-859c-4d6c-b196-71bd26c7fece", "ip_address": "172.24.4.2"}]},
        "name": "router1", "admin_state_up": true, "tenant_id": "125b98b42a1442fe9a0d7562da41b350",
        "distributed": false, "routes": [], "ha": false, "id": "16e89ea5-3a3f-48d3-afbb-c3ad13350775"},
        {"status": "ACTIVE", "external_gateway_info": {"network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "enable_snat": true, "external_fixed_ips": [{"subnet_id": "100373ba-859c-4d6c-b196-71bd26c7fece",
        "ip_address": "172.24.4.215"}]}, "name": "default", "admin_state_up": true,
        "tenant_id": "0604abc562db4a3a8d4518025fca5822", "distributed": false, "routes":
        [], "ha": false, "id": "f21588e3-2fbd-4ce7-9dff-385191a0c57a"}]}'
  recorded_at: Tue, 12 Jul 2016 10:35:27 GMT
recorded_with: VCR 2.9.3
