---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"[redacted]","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 760b38ef2b5b448299253e4fe3f7fc8d
      X-Openstack-Request-Id:
      - req-fe66f9ed-57dd-4b99-b0d3-420632aaf284
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "1cdbf6fab7f544898c2d5e9260645209",
        "name": "admin"}], "expires_at": "2016-07-12T11:03:19.630846Z", "project":
        {"domain": {"id": "default", "name": "Default"}, "id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "internal",
        "id": "0740555784874fdd8d6d1f92c04541bf"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "public",
        "id": "9f71abc341544cc4941be8261e94a6fc"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "admin",
        "id": "ac15153252bf4a4f88896c7562aaaba1"}], "type": "metering", "id": "04053abbdf7f47a396f2a432ab0ba567",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://185.43.218.210:9696/",
        "region": "RegionOne", "interface": "admin", "id": "5ec8ef9e98024c42a3a5fbdf44acc722"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:9696/", "region":
        "RegionOne", "interface": "public", "id": "6b2fb734a8864c80acca5e3ed470d8c5"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:969[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 760b38ef2b5b448299253e4fe3f7fc8d
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 12 Jul 2016 10:03:19 GMT
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/routers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 760b38ef2b5b448299253e4fe3f7fc8d
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-730adf0f-94f4-4d7c-8147-7ced074ee89c
    body:
      encoding: UTF-8
      string: '{"routers": [{"status": "ACTIVE", "external_gateway_info": {"network_id":
        "6c26271f-cb22-4f0a-9274-8a7c29263ab2", "enable_snat": true, "external_fixed_ips":
        [{"subnet_id": "100373ba-859c-4d6c-b196-71bd26c7fece", "ip_address": "172.24.4.2"}]},
        "name": "router1", "admin_state_up": true, "tenant_id": "125b98b42a1442fe9a0d7562da41b350",
        "distributed": false, "routes": [], "ha": false, "id": "16e89ea5-3a3f-48d3-afbb-c3ad13350775"},
        {"status": "ACTIVE", "external_gateway_info": {"network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "enable_snat": true, "external_fixed_ips": [{"subnet_id": "100373ba-859c-4d6c-b196-71bd26c7fece",
        "ip_address": "172.24.4.215"}]}, "name": "default", "admin_state_up": true,
        "tenant_id": "0604abc562db4a3a8d4518025fca5822", "distributed": false, "routes":
        [], "ha": false, "id": "f21588e3-2fbd-4ce7-9dff-385191a0c57a"}]}'
  recorded_at: Tue, 12 Jul 2016 10:03:19 GMT
recorded_with: VCR 2.9.3
