---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"[redacted]","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - 1bacf7fa4368485fa8d35b376252d8c4
      X-Openstack-Request-Id:
      - req-5a5f6062-707a-42a3-a33c-9aaafcac1411
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token": {"methods": ["password"], "roles": [{"id": "1cdbf6fab7f544898c2d5e9260645209",
        "name": "admin"}], "expires_at": "2016-07-12T11:23:23.537755Z", "project":
        {"domain": {"id": "default", "name": "Default"}, "id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "internal",
        "id": "0740555784874fdd8d6d1f92c04541bf"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "public",
        "id": "9f71abc341544cc4941be8261e94a6fc"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "admin",
        "id": "ac15153252bf4a4f88896c7562aaaba1"}], "type": "metering", "id": "04053abbdf7f47a396f2a432ab0ba567",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://185.43.218.210:9696/",
        "region": "RegionOne", "interface": "admin", "id": "5ec8ef9e98024c42a3a5fbdf44acc722"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:9696/", "region":
        "RegionOne", "interface": "public", "id": "6b2fb734a8864c80acca5e3ed470d8c5"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:969[...]
- request:
    method: get
    uri: http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac/servers/detail.json?all_tenants=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1bacf7fa4368485fa8d35b376252d8c4
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-565b27d0-55c8-480e-ad63-bb3ab4e18b32
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ERROR", "updated": "2016-07-12T09:29:33Z",
        "hostId": "7a67c54f5f42907c28e8a7f56404b413c20248a52c20c7e8501a3537", "OS-EXT-SRV-ATTR:host":
        "devstack", "addresses": {"default": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:31:67:ff",
        "version": 4, "addr": "192.168.0.2", "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:31:67:ff", "version": 4, "addr": "172.24.4.216", "OS-EXT-IPS:type":
        "floating"}]}, "links": [{"href": "http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac/servers/a458bea2-a9c9-468b-b788-ee1a943b2a3d",
        "rel": "self"}, {"href": "http://185.43.218.210:8774/06a9a90c60074cdeae5f7fdd0048d9ac/servers/a458bea2-a9c9-468b-b788-ee1a943b2a3d",
        "rel": "bookmark"}], "key_name": "My Public Key", "image": {"id": "57a67f8a-7bae-4578-b684-b9b4dcd48d7f",
        "links": [{"href": "http://185.43.218.210:8774/06a9a90c60074cdeae5f7fdd0048d9ac/images/57a67f8a-7bae-4578-b684-b9b4dcd48d7f",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "error", "OS-EXT-SRV-ATTR:instance_name": "instance-0000000c", "OS-SRV-USG:launched_at":
        null, "OS-EXT-SRV-ATTR:hypervisor_hostname": "devstack", "flavor": {"id":
        "42", "links": [{"href": "http://185.43.218.210:8774/06a9a90c60074cdeae5f7fdd0048d9ac/flavors/42",
        "rel": "bookmark"}]}, "id": "a458bea2-a9c9-468b-b788-ee1a943b2a3d", "security_groups":
        [{"name": "default"}], "OS-SRV-USG:terminated_at": null, "OS-EXT-AZ:availability_zone":
        "nova", "user_id": "20746f49211e4037a91269df6a3fbf7b", "name": "test", "created":
        "2016-07-12T09:29:24Z", "tenant_id": "0604abc562db4a3a8d4518025fca5822", "OS-DCF:diskConfig":
        "AUTO", "os-extended-volumes:volumes_attached": [], "accessIPv4": "", "accessIPv6":
        "", "fault": {"message": "No valid host was found. There are not enough hosts
        available.", "code": 500, "details": "  File \"/opt/stack/nova/nova/conductor/manager.py\",
        line 671, in build_instances\n    request_spec, filter_properties)\n  File
        \"/opt/stack/nova/nova/scheduler/utils.py\", line 337, in wrapped\n    return
        func(*args, **kwargs)\n  File \"/opt/stack/nova/nova/scheduler/client/__init__.py\",
        line 52, in select_destinations\n    context, request_spec, filter_properties)\n  File
        \"/opt/stack/nova/nova/scheduler/client/__init__.py\", line 37, in __run_method[...]
