---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"L7joid2rTaokFJ","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      X-Subject-Token:
      - f10b36fbd5714fb08b2afe4930f72cd7
      X-Openstack-Request-Id:
      - req-6f5520d1-693a-4e31-99cb-bd8d00d4fad4
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token": {"methods": ["password"], "roles": [{"id": "1cdbf6fab7f544898c2d5e9260645209",
        "name": "admin"}], "expires_at": "2016-11-08T13:53:19.729312Z", "project":
        {"domain": {"id": "default", "name": "Default"}, "id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "internal",
        "id": "0740555784874fdd8d6d1f92c04541bf"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "public",
        "id": "9f71abc341544cc4941be8261e94a6fc"}, {"region_id": "RegionOne", "url":
        "http://185.43.218.210:8777/", "region": "RegionOne", "interface": "admin",
        "id": "ac15153252bf4a4f88896c7562aaaba1"}], "type": "metering", "id": "04053abbdf7f47a396f2a432ab0ba567",
        "name": "ceilometer"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://185.43.218.210:9696/",
        "region": "RegionOne", "interface": "admin", "id": "5ec8ef9e98024c42a3a5fbdf44acc722"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:9696/", "region":
        "RegionOne", "interface": "public", "id": "6b2fb734a8864c80acca5e3ed470d8c5"},
        {"region_id": "RegionOne", "url": "http://185.43.218.210:969[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f10b36fbd5714fb08b2afe4930f72cd7
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://185.43.218.210:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Tue, 08 Nov 2016 12:53:21 GMT
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/floatingips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f10b36fbd5714fb08b2afe4930f72cd7
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-fb6df6a7-05ca-4a52-8185-f32b538997eb
    body:
      encoding: ASCII-8BIT
      string: '{"floatingips": []}'
  recorded_at: Tue, 08 Nov 2016 12:53:21 GMT
[...]
- request:
    method: get
    uri: http://185.43.218.210:9696/v2.0/routers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - eac042c2a151484ba504db650eba26bb
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-bcd9477d-e9aa-4a1b-b723-a7dbd62d1c4d
    body:
      encoding: ASCII-8BIT
      string: '{"routers": [{"status": "ACTIVE", "external_gateway_info": {"network_id":
        "6c26271f-cb22-4f0a-9274-8a7c29263ab2", "enable_snat": true, "external_fixed_ips":
        [{"subnet_id": "100373ba-859c-4d6c-b196-71bd26c7fece", "ip_address": "172.24.4.181"}]},
        "name": "default", "admin_state_up": true, "tenant_id": "9c5e52ce671d4f2e86668a3b2de8801e",
        "distributed": false, "routes": [], "ha": false, "id": "00d25de6-3916-4397-b74e-93eb68237ac6"},
        {"status": "ACTIVE", "external_gateway_info": {"network_id": "6c26271f-cb22-4f0a-9274-8a7c29263ab2",
        "enable_snat": true, "external_fixed_ips": [{"subnet_id": "100373ba-859c-4d6c-b196-71bd26c7fece",
        "ip_address": "172.24.4.113"}]}, "name": "default", "admin_state_up": true,
        "tenant_id": "ea35f4059de54340a007d32353337b77", "distributed": false, "routes":
        [], "ha": false, "id": "01c0e861-e2e5-4b07-8cec-0[...]
