---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"REDACTED"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-284689fe-97dc-4ac6-977d-7e54cafb0ae0
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access": {"token": {"issued_at": "2015-07-24T09:16:42.778733", "expires":
        "2015-07-24T10:16:42Z", "id": "6848c9ca14ec4be38db02462d2b5d340", "tenant":
        {"description": null, "enabled": true, "id": "06a9a90c60074cdeae5f7fdd0048d9ac",
        "name": "admin"}, "audit_ids": ["fbXs9XdITyWL_901ns0FKw"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac",
        "region": "RegionOne", "internalURL": "http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac",
        "id": "19b08d694d8b4dd1a760a33b2d3f32eb", "publicURL": "http://185.43.218.210:8774/v2/06a9a90c60074cdeae5f7fdd0048d9ac"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://185.43.218.210:8774/v2.1/06a9a90c60074cdeae5f7fdd0048d9ac", "region":
        "RegionOne", "internalURL": "http://185.43.218.210:8774/v2.1/06a9a90c60074cdeae5f7fdd0048d9ac",
        "id": "0e054ae877a247e0aae1f208b1b6b7e7", "publicURL": "http://185.43.218.210:8774/v2.1/06a9a90c60074cdeae5f7fdd0048d9ac"}],
        "endpoints_links": [], "type": "computev21", "name": "novav21"}, {"endpoints":
        [{"adminURL": "http://185[...]
