---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG99qusVZJwhskGZb_ZkpJRcTJcHLERlYdqnMmS6ebt9VTQWojUHhxGrAGdEsFhXlf8x0PJFlBUeJeQ6n_P&client_secret=4606629602468353401&username=devops%40datacentred.co.uk&password=c7bKwEvXX4QVffyShg2csDYqWYjqOgGja90m3qG
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00Db0000000ILMf!ARQAQLEKV.dnhIdVwPJTwNF7QI9YsBZRdDziOXXAa7OAeIgb4irz4zaEy386d43JFh7PCjYXNgbRzEcii4xF5JFHecGudt4Y","instance_url":"https://eu2.salesforce.com","id":"https://login.salesforce.com/id/00Db0000000ILMfEAO/005b0000001NkX9AAK","token_type":"Bearer","issued_at":"1471602416173","signature":"KakJds8vL0fj1X3HW4uWjlpvk3m1wScYOEXO+HJoa2w="}'
  recorded_at: Fri, 19 Aug 2016 10:26:56 GMT
- request:
    method: get
    uri: https://eu2.salesforce.com/services/data/v32.0/query?q=select%20id,%20name%20from%20product2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Db0000000ILMf!ARQAQLEKV.dnhIdVwPJTwNF7QI9YsBZRdDziOXXAa7OAeIgb4irz4zaEy386d43JFh7PCjYXNgbRzEcii4xF5JFHecGudt4Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=93/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":111,"done":true,"records":[{"attributes":{"type":"Product2","url":"/services/data/v32.0/sobjects/Product2/01tb0000002gHr0AAE"},"Id":"01tb0000002gHr0AAE","Name":"Remote
        Hands"},{"attributes":{"type":"Product2","url":"/services/data/v32.0/sobjects/Product2/01tb00000006lGMAAY"},"Id":"01tb00000006lGMAAY","Name":"Block
        Storage (TBhours)"},{"attributes":{"type":"Product2","url":"/services/data/v32.0/sobjects/Product2/01tb0000002fwoUAAQ"},"Id":"01tb0000002fwoUAAQ","Name":"Compute
        Instances"},{"attributes":{"type":"Product2","url":"/services/data/v32.0/sobjects/Product2/01tb0000002hyidAAA"},"Id":"01tb0000002hyidAAA","Name":"Instances
  [...]
[...]
- request:
    method: get
    uri: https://eu2.salesforce.com/services/data/v32.0/query?q=select%20product2id,%20unitprice%20from%20pricebookentry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Db0000000ILMf!ARQAQLEKV.dnhIdVwPJTwNF7QI9YsBZRdDziOXXAa7OAeIgb4irz4zaEy386d43JFh7PCjYXNgbRzEcii4xF5JFHecGudt4Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=93/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":136,"done":true,"records":[{"attributes":{"type":"PricebookEntry","url":"/services/data/v32.0/sobjects/PricebookEntry/01ub000000ra9jcAAA"},"Product2Id":"01tb0000004GkA2AAK","UnitPrice":0.0},{"attributes":{"type":"PricebookEntry","url":"/services/data/v32.0/sobjects/PricebookEntry/01ub000000r7VjOAAU"},"Product2Id":"01tb0000003RjYUAA0","UnitPrice":0.0},{"attributes":{"type":"PricebookEntry","url":"/services/data/v32.0/sobjects/PricebookEntry/01ub000000mmlpLAAQ"},"Product2Id":"01tb0000002hl3GAAQ","UnitPrice":0.0},{"attributes":{"type":"PricebookEntry","url":"/services/data/v32.0/sobjects/PricebookEntry/01ub000000ma2KFAAY"},"Product2Id":"01tb0000002hYg9AAE","UnitPrice":0.0},{"attr[...]
