---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7QbAaReJ8NlEZS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Kjoh9ZEB49K8Bsvc1lxWrlNP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7QbAaReJ8NlEZS",
          "object": "customer",
          "account_balance": 0,
          "created": 1448622031,
          "currency": null,
          "default_source": "card_17C6lmAR2MipIX2icipA4gC0",
          "delinquent": false,
          "description": "Company: test@test.com, Signup UUID: HlxTBnjmKKa5ufwvOn0UoQ",
          "discount": null,
          "email": "test@test.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17C6lmAR2MipIX2icipA4gC0",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7QbAaReJ8NlEZS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "rZWf0KlzqKcbIp10",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                  "last_verified": "2015-11-28 11:32:42 UTC"
                },
                "name": null,
                "tokenization_method": null
              },
              {
                "id": "card_17C6wQAR2MipIX2iOcCGKqBI",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7QbAaReJ8NlEZS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "muiIRXrkvPfO6nTr",
                "funding": "credit",
                "last4": "1881",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 2,
            "url": "/v1/customers/cus_7QbAaReJ8NlEZS/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7QbAaReJ8NlEZS/subscriptions"
          }
        }
  recorded_at: Sat, 28 Nov 2015 11:53:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7QbAaReJ8NlEZS/sources?object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Kjoh9ZEB49K8Bsvc1lxWrlNP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7QbAaReJ8NlEZS/sources/card_17C6lmAR2MipIX2icipA4gC0
    body:
      encoding: US-ASCII
      string: metadata[last_verified]=2015-11-28+11%3A53%3A23+UTC
    headers:
      Authorization:
      - Bearer sk_test_Kjoh9ZEB49K8Bsvc1lxWrlNP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17C6lmAR2MipIX2icipA4gC0",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7QbAaReJ8NlEZS",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 11,
          "exp_year": 2016,
          "fingerprint": "rZWf0KlzqKcbIp10",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
            "last_verified": "2015-11-28 11:53:23 UTC"
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sat, 28 Nov 2015 11:53:23 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7QbAaReJ8NlEZS/sources/card_17C6lmAR2MipIX2icipA4gC0
    body:
      encoding: US-ASCII
      string: metadata[last_verified]=2015-11-28+11%3A53%3A31+UTC
    headers:
      Authorization:
      - Bearer sk_test_Kjoh9ZEB49K8Bsvc1lxWrlNP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17C6lmAR2MipIX2icipA4gC0",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7QbAaReJ8NlEZS",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 11,
          "exp_year": 2016,
          "fingerprint": "rZWf0KlzqKcbIp10",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
            "last_verified": "2015-11-28 11:53:31 UTC"
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sat, 28 Nov 2015 11:53:32 GMT
recorded_with: VCR 2.9.3
