---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/bork+bork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Kjoh9ZEB49K8Bsvc1lxWrlNP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: bork bork",
            "param": "id"
          }
        }
  recorded_at: Sat, 28 Nov 2015 12:22:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/bork+bork
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Kjoh9ZEB49K8Bsvc1lxWrlNP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: bork bork",
            "param": "id"
          }
        }
  recorded_at: Sat, 28 Nov 2015 12:22:41 GMT
recorded_with: VCR 2.9.3
