---
http_interactions:
- request:
    method: put
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386
    body:
      encoding: ASCII-8BIT
      string: "\x04\b{\x06:\fcomplexU:\x0FOpenStruct{\x06:\bfooI\"\bbar\x06:\x06ET"
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - AWS I9860H3V0MMNO5B3FQSX:i2XUWRO0Qh70lirE2dXbASb3pFg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"47c943f59600069ee4b826c1eaf204b3"'
      X-Amz-Request-Id:
      - tx000000000000000426efd-005847d837-899badb-uk-sal01
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Dec 2016 09:37:00 GMT
- request:
    method: get
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386?AWSAccessKeyId=I9860H3V0MMNO5B3FQSX&Expires=1481103720&Signature=74yP/oN90V28Ry0XzOCSDc0ZIIE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 07 Dec 2016 09:36:55 GMT
      Etag:
      - '"47c943f59600069ee4b826c1eaf204b3"'
      X-Amz-Request-Id:
      - tx000000000000000426f56-005847d837-8949e01-uk-sal01
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "\x04\b{\x06:\fcomplexU:\x0FOpenStruct{\x06:\bfooI\"\bbar\x06:\x06ET"
  recorded_at: Wed, 07 Dec 2016 09:37:00 GMT
[...]
- request:
    method: get
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386?AWSAccessKeyId=I9860H3V0MMNO5B3FQSX&Expires=1481103720&Signature=74yP/oN90V28Ry0XzOCSDc0ZIIE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - tx000000000000000426f5a-005847d838-8949e01-uk-sal01
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Error><Code>NoSuchKey</Code><BucketName>stronghold_usage</BucketName><RequestId>tx000000000000000426f5a-005847d838-8949e01-uk-sal01</RequestId><HostId>8949e01-uk-sal01-uk</HostId></Error>
  recorded_at: Wed, 07 Dec 2016 09:37:01 GMT
recorded_with: VCR 2.9.3
