---
http_interactions:
- request:
    method: put
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386
    body:
      encoding: UTF-8
      string: '{"complex":{"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AWS I9860H3V0MMNO5B3FQSX:3CAXIsuXKEmYc/lZxtOkmWQhnXc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c94cf98f6e1072a4d996eefc70c765cc"'
      X-Amz-Request-Id:
      - tx00000000000000005c6a9-00593fd38a-e6a31a3-uk-sal01
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2017 11:59:06 GMT
- request:
    method: get
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386?AWSAccessKeyId=I9860H3V0MMNO5B3FQSX&Expires=1497355447&Signature=cJ2lXQ8HJKtfodx5EVMS4VXRlzE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 13 Jun 2017 11:59:06 GMT
      Etag:
      - '"c94cf98f6e1072a4d996eefc70c765cc"'
      X-Amz-Request-Id:
      - tx00000000000000005c667-00593fd38b-e1c7939-uk-sal01
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"complex":{"foo":"bar"}}'
  recorded_at: Tue, 13 Jun 2017 11:59:07 GMT
[...]
- request:
    method: put
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386
    body:
      encoding: UTF-8
      string: '{"something":"else"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AWS I9860H3V0MMNO5B3FQSX:0ZItAHbOfjKnuUOsfSjV0A13ycg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1521cb63d9db1054200045580ee5422a"'
      X-Amz-Request-Id:
      - tx00000000000000005c668-00593fd38b-e1c7939-uk-sal01
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2017 11:59:08 GMT
- request:
    method: get
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386?AWSAccessKeyId=I9860H3V0MMNO5B3FQSX&Expires=1497355448&Signature=42lbSs4Cf1TUTAy1/8bemmA4TCE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 13 Jun 2017 11:59:07 GMT
      Etag:
      - '"1521cb63d9db1054200045580ee5422a"'
      X-Amz-Request-Id:
      - tx00000000000000005c669-00593fd38c-e1c7939-uk-sal01
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"something":"else"}'
  recorded_at: Tue, 13 Jun 2017 11:59:08 GMT
[...]
- request:
    method: get
    uri: https://storage.datacentred.io/stronghold_usage/3a6a220de-9a92-4320-803a-5fa95492386?AWSAccessKeyId=I9860H3V0MMNO5B3FQSX&Expires=1497355448&Signature=42lbSs4Cf1TUTAy1/8bemmA4TCE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - tx00000000000000005c6ad-00593fd38c-e6a31a3-uk-sal01
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Error><Code>NoSuchKey</Code><BucketName>stronghold_usage</BucketName><RequestId>tx00000000000000005c6ad-00593fd38c-e6a31a3-uk-sal01</RequestId><HostId>e6a31a3-uk-sal01-uk</HostId></Error>
  recorded_at: Tue, 13 Jun 2017 11:59:08 GMT
recorded_with: VCR 2.9.3
