---
http_interactions:
- request:
    method: post
    uri: http://devstack.datacentred.io:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"bar","password":"foo"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-6288d4e5-8423-46b5-97e4-277c64e7bfa5
      Www-Authenticate:
      - Keystone uri="http://185.43.218.210:5000/"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": {"message": "Could not find user: bar (Disable debug mode
        to suppress these details.)", "code": 401, "title": "Unauthorized"}}'
  recorded_at: Mon, 02 Nov 2015 10:22:41 GMT
recorded_with: VCR 2.9.3
