.info-panel
  %h4
    %i.fa.fa-info-circle
    Your Services
  .alert.alert-info
    %ul
      %li We will only charge you for the services and resources you use.
      %li If you don't use anything, you don't pay anything.
      %li You will be billed once per month.
      %li We start you off with a £20/month cap to prevent any nasty accidents.