%h2
  %i.fa.fa-cloud
  Cloud Services Sign-up

%ol.breadcrumb
  %li.active Details
  %li.active Payment
  %li Confirm

%div#signup-form-area
  %h3
    %i.fa.fa-envelope
    Thanks for signing up!
  %p Please check your email for further instructions.
