%ol.breadcrumb
  %li Details
  %li.active Payment
  %li.active Done

%div#signup-form-area
  %h3
    %i.fa.fa-envelope
    Thanks for signing up!
  %p Please check your email for further instructions.
