%ol.breadcrumb
  %li Details
  %li.active Payment
  %li.active Confirm

%div#signup-form-area
  = form_tag(create_signup_path, 'role' => 'form') do
    %h3
      %i.fa.fa-user
      About You
    #flashes
    .form-group
      %label E-Mail Address
      = text_field_tag :email, @customer_signup.email, class: 'form-control'
    .form-group
      %label Company Name
      = text_field_tag :organization_name, @customer_signup.organization_name, class: 'form-control', placeholder: "Leave blank if signing up as an individual"
    .form-group
      = submit_tag 'Continue →', class: 'btn btn-success'
