.alert.alert-info Only users belonging to a role with OpenStack permissions are available for selection.
%div{'style' => "overflow: auto; height: 180px"}
  - users_with_openstack_permissions.each do |user|
    .row= render partial: 'user_entry', locals: {user: user, project: project}
