.info-panel
  .alert.alert-success
    %ul
      %li We only charge for the services and resources used. If you don't use anything, you don't pay anything.
      %li You will be billed once per month.
      %li We start you off with a cap to prevent any nasty accidents.
      %li Please get in touch if you have any queries or require any changes.