.table-responsive.contact-table
  %table.table.table-bordered
    %tbody
      %tr
        %td.contact-type
          %i.fa.fa-wrench
          Technical Contact
        %td
          - unless @organization.technical_contact.nil?
            = mail_to @organization.technical_contact
          - else
            None
      %tr
        %td.contact-type
          %i.fa.fa-credit-card
          Billing Contact
        %td
          - unless @organization.billing_contact.nil?
            = mail_to @organization.billing_contact
          - else
            None
