.customer-search-header
  .header-title
    %h1
      %i.fa.fa-briefcase
      = @organization.name
    %h3
      Reference:
      = @organization.reporting_code

  .header-nav
    = render partial: 'admin/customers/search'
    
