.table-responsive
  %table.table.table-hover
    %thead
      %th Email
      %th Created at
      %th Status
      %th
    %tbody
      - if @incomplete_invites.present?
        - @incomplete_invites.each do |invite|
          %tr
            %td= invite[:email]
            %td= invite[:created_at]
            %td
              - if invite.expires_at < Time.now
                %span.label.label-warning
                  Expired
              -else
                %span.label.label-success
                  Active
            %td
              -if can?(:modify, Invite)
                =link_to 'Resend', admin_invite_path(invite), :class => "btn btn-primary", :remote => true, method: :patch
              - if can?(:modify, Invite)
                %a{href: admin_invite_path(invite), data: { remote: true, method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger"}
                  %i.fa.fa-trash-o
      - else
        %tr
          %td
            %em No invites.
