.header-search
  %span.fa.fa-search.fa-lg.small-search-icon
  %input{id: "search-input", type: "text", name: "q", value: "", autocomplete: "off", class: 'form-control small-search', placeholder: "Search customers"}
