#change-state
  Account state:
  %em
    %strong
      = @organization.current_state.titleize
= select_tag :state, options_for_states(@organization), include_blank: "Change to...", class: 'form-control', id: 'state-dropdown', 'data-organization': @organization.id, 'data-organization-name': @organization.name
#state_history_link{'data-toggle' => "tooltip", 'data-placement' => "right", 'title' => "See states history"}
  = link_to "", admin_state_path(@organization), class: "fa fa-history fa-lg"
