.row
  .col-md-6
    %ul
      %li
        Type of Usage:
        - if @organization.usage_types.present?
          = @organization.usage_types
        - else
          %em No usage data recorded
      %li
        Last recorded usage:
        - if @organization.most_recent_usage_recorded_at.present?
          = long_date @organization.most_recent_usage_recorded_at
        - else
          %em No recent activity
      %li
        = link_to ' See Usage Data', admin_usage_path(@organization), class: "btn btn-default"

  .col-md-6
    .test-toggle-and-usage-link
      = link_to 'Edit Quotas', edit_admin_quota_path(@organization), class: 'btn btn-default'
