.table-responsive
  %table.table.table-hover
    %tbody
      - if @users.any?
        - @users.each do |user|
          %tr
            %td= mail_to user[:email]
            %td
              = user[:first_name] != user[:email] ? user[:first_name] : ''
              = user[:last_name] != user[:email] ? user[:last_name] : ''
      - else
        %tr
          %td
            %em No users.
= pagination @users
