- hm 'he-man'

.container.search-customer-container
  %span.fa.fa-search.fa-2x
  %input{id: "search-input", type: "text", name: "q", value: "", autocomplete: "off", class: 'form-control customer-search-bar fa fa-search', placeholder: "What are you looking for?"}
    
   

