- hm 'he-man'

.container.search-customer-container

  %input{id: "search-input", type: "text", name: "q", value: "", autocomplete: "off", class: 'form-control customer-search-bar', placeholder: " What are you looking for?"}
