- hm 'he-man'

.container.search-section
  %span.fa.fa-search.fa-2x.main-search-icon
  %input{id: "search-input", type: "text", name: "q", value: "", autocomplete: "off", class: 'form-control main-search', placeholder: "What are you looking for?"}
