.row.graphs-container
  .col-md-6
    %h4.section-title Instances
    #container-instance.individual-graph
  .col-md-6
    %h4.section-title Flavours
    #container-flavor.individual-graph

.row.graphs-container
  .col-md-6
    %h4.section-title VCPUs
    #container-cores.individual-graph
  .col-md-6
    %h4.section-title Memory
    #container-memory.individual-graph
