.row-fluid.graphs-container
  .col-md-6
    .container-with-border
      .section-title Instances
      #container-instance.individual-graph
  .col-md-6
    .container-with-border
      .section-title Flavours
      #container-flavor.individual-graph

.row-fluid.graphs-container
  .col-md-6
    .container-with-border
      .section-title VCPUs
      #container-cores.individual-graph
  .col-md-6
    .container-with-border
      .section-title Memory
      #container-memory.individual-graph
