.row-fluid.graphs-container
  .col-md-6
    .container-with-border
      .section-title Floating IPs
      #container-floating-ip.individual-graph
  .col-md-6
    .container-with-border
      .section-title Load Balancers
      #container-pools.individual-graph
