.row.graphs-container
  .col-md-6
    %h4.section-title Floating IPs
    #container-floating-ip.individual-graph
  .col-md-6
    %h4.section-title Load Balancers
    #container-pools.individual-graph
