.row-fluid.graphs-container
  .col-md-6
    .container-with-border
      .section-title Volumes
      #container-volume.individual-graph
  .col-md-6
    .container-with-border
      .section-title Storage Used
      #container-storage.individual-graph
