.openstack-client-terminal {
  border: 3px solid #aaa;
  border-radius: 5px;
  height: 70vh;
  width: 100%;
  font-size: 14px;
  min-width: 1400px;
  color: white;
}

.openstack-client-terminal .terminal-output {
  padding-top: 20px;
}

.openstack-client-terminal span  {
  font-size: 14px;
  color: white;
}

.terminal-help {
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.terminal-help .command-example {
  margin: 10px;
}

.terminal-help .command-example .small {
  padding: 10px;
}

.buttons-right {
  display: flex;
  justify-content: flex-end;
}

.term-buttons {
  opacity: 0.85;
  font-size: 8px;
  position: relative;
  background: #000;
  padding: 5px;
  margin: -10px;
}

.term-buttons a {
  margin-right: 2px;
  font-size: 8px;
}

.terminal-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

.example-commands {
  overflow: auto;
}

div.project-select {
  margin-bottom: 15px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .terminal-responsive {
    overflow-x: auto;
    min-height: 0.01%;
  }
}

@media only screen and (max-width: 992px), only screen and (max-device-width: 992px) {
  div.project-select div.form-group {
    width: 100%;
  }
  div.project-select div.form-inline {
    width: 100%;
  }
  div.project-select select.projects {
    width: 100%;
  }
  div.project-select {
    margin-top: 15px;
  }
}