- if current_organization.known_to_payment_gateway?
  .modal.fade#showOpenStackDetails{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "showOpenStackDetails", 'aria-hidden' => "true", 'data-backdrop' => 'static'}
    .modal-dialog
      .modal-content
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h2.modal-title
            %i.fa.fa-cloud
            API Details
        .modal-body

          %div{'role' => "tabpanel"}
            %ul.nav.nav-tabs{'role' => "tablist"}
              - if current_organization.compute? && can?(:read, :cloud)
                - @openstack_active = true
                %li{'role' => "presentation", 'class' => "active"}
                  %a{'href' => "#openstack", 'aria-controls' => "openstack", 'role' => "tab", 'data-toggle' => "tab"}
                    OpenStack API
              - if current_organization.storage? && can?(:read, :storage)
                %li{'role' => "presentation", 'class' => @openstack_active ? '' : 'active'}
                  %a{'href' => "#ceph", 'aria-controls' => "ceph", 'role' => "tab", 'data-toggle' => "tab"}
                    Ceph API
              - if can?(:read, :api) && current_user.staff?
                %li{'role' => "presentation", 'class' => @openstack_active ? '' : 'active'}
                  %a{'href' => "#datacentred-api", 'aria-controls' => "datacentred-api", 'role' => "tab", 'data-toggle' => "tab"}
                    DataCentred API

          .tab-content
            - if current_organization.compute? && can?(:read, :cloud)
              - @openstack_active = true
              %div.tab-pane{'role' => "tabpanel", 'class' => "active", 'id' => "openstack"}
                = render partial: 'shared/openstack_details'
            - if current_organization.storage? && can?(:read, :storage)
              %div.tab-pane{'role' => "tabpanel", 'class' => @openstack_active ? '' : 'active', 'id' => "ceph"}
                = render partial: 'shared/ceph_details'
            - if can?(:read, :api)
              %div.tab-pane{'role' => "tabpanel", 'class' => @openstack_active ? '' : 'active', 'id' => "datacentred-api"}
                = render partial: 'shared/datacentred_api'
          
        .modal-footer
          %button.btn.btn-primary{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = 'OK'
