%footer  
  .container
    #credit.pull-right    
      = link_to(image_tag('//datacentred.co.uk/wp-content/uploads/2012/10/twitter_icon_footer1.png',
        :class => "social-media-badge"), "https://twitter.com/datacentred", :target => "twitter")
      = link_to(image_tag('//datacentred.co.uk/wp-content/uploads/2012/10/linkedin-icon-final1.png',
        :class => "social-media-badge"), "http://www.linkedin.com/company/datacentred", :target => "linkedin")
    #copyright.pull-left
      Copyright 2014
      | 
      = link_to 'Terms and Conditions', 'http://datacentred.co.uk/terms-and-conditions'
      |
      = link_to 'Privacy Policy', 'http://datacentred.co.uk/privacy-policy/'

