.errorExplanation{:'ng-show' => "errors"}
  %p
    The following errors occured:
  %ul
    %li{:'ng-repeat' => "error in errors"} {{error.field.split('_').join(' ') | capitalize:true}} {{error.message}}
.errorExplanation{:'ng-show' => "staticError"}
  %p
    {{staticError}}