.errorExplanation{:'ng-show' => "errors"}
  %p
    The following errors occured:
  %ul
    %li{:'ng-repeat' => "error in errors"} Field '{{error.field}}'' {{error.message}}
.errorExplanation{:'ng-show' => "staticError"}
  %p
    {{staticError}}