= form_tag(support_change_organizations_path, :html => {:role => 'form'}, 'method' => 'put', class: 'form-inline') do
  .form-group#org-dropdown
    %label
      %i.fa.fa-briefcase
      Your current Account:
    = select_tag :organization_id, organizations_for_select, id: 'select-organization', class: 'form-control'
