%link{'href' => 'https://assets.datacentred.io', 'rel' => 'preconnect', 'crossorigin' => true}

%link{'href' => 'https://www.google-analytics.com', 'rel' => 'preconnect', 'crossorigin' => true}
%link{'href' => 'https://bam.nr-data.net', 'rel' => 'preconnect', 'crossorigin' => true}
%link{'href' => 'https://js-agent.newrelic.com', 'rel' => 'preconnect', 'crossorigin' => true}
%link{'href' => 'https://js.stripe.com', 'rel' => 'preconnect', 'crossorigin' => true}
%link{'href' => 'https://secure.gravatar.com', 'rel' => 'preconnect', 'crossorigin' => true}

-# %link{'href' => 'https://fonts.gstatic.com', 'rel' => 'preconnect', 'crossorigin' => true}
-# %link{'href' => 'https://fonts.googleapis.com', 'rel' => 'preconnect', 'crossorigin' => true}