= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true, 'lazyload' => true
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true, 'lazyload' => true
= favicon_link_tag 'favicon.png'