%div.btn-group.pull-right
  %button.dropdown-toggle#support-menu{:type => "button", :'data-toggle' => "dropdown", :'dropdown-toggle' => "", class: ['admin', 'utilities'].include?(current_section) ? 'admin-menu' : ''}
    %span
      %i.fa.fa-bars
  %ul.dropdown-menu{:role => "menu"}
    - if current_user.staff?
      %li
        %a{:href => admin_root_path}
          %i.fa.fa-shield
          = 'Admin'
    - if current_user.power_user?
      %li
        %a{:href => support_edit_organization_path}
          %i.fa.fa-briefcase
          Edit Organization
      - if current_organization.cloud?
        - unless current_organization.limited_storage?
          %li
            %a{:href => support_projects_path}
              %i.fa.fa-folder-o
              Cloud Projects
        %li
          %a{:href => support_quotas_path}
            %i.fa.fa-sliders
            Limits
      - if current_organization.self_service?
        %li
          %a{:href => support_manage_cards_path}
            %i.fa.fa-credit-card
            Payment Settings
      %li
        %a{:href => support_audits_path}
          %i.fa.fa-history
          = t(:audit_log)
      %li.divider
      %li
        - unless current_organization.frozen?
          - if current_organization.compute? && can?(:read, :cloud)
            %a{href: openstack_path}
              %i.fa.fa-external-link
              %span.hide-when-inactive
                OpenStack Dashboard
