/ - build_support_navigation.each do |title, link|
/   - unless link.empty?
/     %span.choice= link_to title, link

%span.choice.logout
= link_to 'Log out', session_path(current_user), :method => :delete, data: { confirm: "Log out?" }