.ticket
  %div.btn-group
    %button.btn.btn-primary.dropdown-toggle{:'data-toggle' => "dropdown", :type => "button"}
      %i.fa.fa-circle{:style => "color: {{selectedTicket.status.color;}}"}
      Status: {{selectedTicket.status.name}}
      %span.caret
    %ul.dropdown-menu{:'id' => "statusDropdown", :role => "menu"}
      %li{:'ng-repeat' => "status in statuses"}
        %a{:'status-name' => "{{status.name}}"}
          {{status.name}}
  %div.btn-group
    %button.btn
      %i.fa.fa-pencil
      Edit
  %div.btn-group
    %button.btn
      %i.fa.fa-comment
      Comment
  </div>

  %h1 ({{selectedTicket.attrs.key}}) {{selectedTicket.attrs.fields.summary}}
  %h3 Description
  %p {{selectedTicket.attrs.fields.description}}
  %h3 Comments
  %ul.media-list
    %li.media
      %a.pull-left
        %img{:src => "http://dummyimage.com/64/666/fff.png&text=%26%2332;"}
      %div.media-body
        %h4.media-heading
          Media heading
        Hello, World. Hello, World. Hello, World.

  //%div{:'ng-repeat' => ("comment in selectedTicket.comments")}
  //  %div
  //    Hello, World.