%table.table{:'ng-controller' => "TicketsController"}
  %thead
    %th.status-head
    %th
      Ticket
  %tbody{:'ng-repeat' => ("ticket in getTickets('" + status + "')")}
    //('" + status + "')
    %tr
      %td.status
        %i.fa.fa-circle{:class => ("status-" + status)}
      %td
        {{ticket.status}}