.some-info.ticket{:'ng-hide' => "selectedTicket"}
  %p
    %i.fa.fa-info-circle.fa-5x
  %p
    Select a ticket.
.ticket{:'ng-show' => "selectedTicket"}
  %h1 ({{selectedTicket.attrs.key}}) {{selectedTicket.attrs.fields.summary}}
  %h4 Description
  %p {{selectedTicket.attrs.fields.description}}
  %h4 Comments
  %div{:'ng-repeat' => ("comment in selectedTicket.comments")}
    %div
      Hello, World.