%table.table
  %thead
    %th.status-head
    %th
      Ticket
  %tbody{:'ng-repeat' => ("ticket in tickets['" + status + "']")}
    %tr
      %td.status
        %i.fa.fa-circle{:class => ("status-" + status)}
      %td
        =link_to "{{ticket.attrs.fields.summary}}", "", {:'ng-click' => 'showTicket(ticket)'}