.top-menu
  .top-menu-option.top-menu-option-disabled{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:instances)}
    %i.top-menu-icon.fa.fa-rocket
  .top-menu-option.top-menu-option-disabled{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:storage)}
    %i.top-menu-icon.fa.fa-database
  .top-menu-option.top-menu-option-disabled{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:networking)}
    %i.top-menu-icon.fa.fa-sitemap
  .top-menu-option.top-menu-option-disabled{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:colo)}
    = image_tag('server.svg')
  .top-menu-option{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:users_slash_roles), 'class' => (current_section == 'roles' ? 'selected' : '')}
    %a{href: support_roles_path}
      %i.top-menu-icon.fa.fa-users
  .top-menu-option{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:support_tickets), 'class' => (current_section == 'tickets' ? 'selected' : '')}
    %a{href: support_tickets_path}
      %i.top-menu-icon.fa.fa-life-ring
  .top-menu-option.top-menu-option-disabled{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:billing)}
    %i.top-menu-icon.fa.fa-money
  .top-menu-option.top-menu-option-disabled{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => t(:metrics)}
    %i.top-menu-icon.fa.fa-dashboard