.top-menu
  %span.top-menu-option
    %a{href: support_instances_path}
      %i.top-menu-icon.fa.fa-rocket
  %span.top-menu-option
    %i.top-menu-icon.fa.fa-database
  %span.top-menu-option
    %i.top-menu-icon.fa.fa-sitemap
  %span.top-menu-option
    = image_tag('server.svg')
  %span.top-menu-option
    %a{href: support_roles_path}
      %i.top-menu-icon.fa.fa-users
  %span.top-menu-option
    %i.top-menu-icon.fa.fa-life-ring
  %span.top-menu-option
    %i.top-menu-icon.fa.fa-money
  %span.top-menu-option
    %i.top-menu-icon.fa.fa-dashboard