$('form *').removeClass('withError')
$('.successMessage').remove();

<% for field, message in object.errors %>
  $('form #<%="#{object.class.to_s.underscore.gsub("/","_")}_#{field}"%>').addClass('withError');
<% end %>

<% 
content = Array.new
content << "<div class='alert alert-danger errorExplanation'><a class='close error-close'>×</a>"
content << "<ul>"
object.errors.full_messages.each {|msg| content << "<li>#{h(msg)}</li>" }
content << "</ul></div>"
%>

$('.errorExplanation').remove();
$('.errors<%= object.id %>').before('<%= escape_javascript(content.join).html_safe %>');

$('.error-close').click(function(){
  $('.errorExplanation').remove();
});