$('.errorExplanation').remove();
$('form *').removeClass('withError')

<% 
content = "<div class='successMessage'><h3>#{h(message)}</h3>"
%>

$('.successMessage').remove();
$('.success<%= object.id %>').before('<%= escape_javascript(content).html_safe %>');

$('form input:password').val('')