= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
%meta{'charset' => "utf-8"}
%meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
%meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
= favicon_link_tag 'favicon.png'