.row
  .col-md-3{style: 'height: 75vh'}
    .bg-success.terminal-help.osbg.example-commands
      %h4
        %i.fa.fa-hand-peace-o
        Hello!
      %p.thin-text Try out a few commands in the terminal:
      - example_commands.each do |example|
        .command-example
          %i.fa.fa-star
          %code= example[:command]
          .small
            %em= example[:description]


  .col-md-9{style: 'height: 75vh'}
    %div.project-select
      .buttons-right
        .form-inline
          .form-group
            = select_tag :projects, options_for_terminal_projects(@projects), class: 'form-control'

    .terminal-responsive
      .openstack-client-terminal.hide
        .buttons-left.term-buttons
          %a{href: '', id: 'saveTerminal', class: 'btn btn-default'}
            %i.fa.fa-save
            Save
          %a{href: '', id: 'clearTerminal', class: 'btn btn-default'}
            %i.fa.fa-eraser
            Clear
          %i.fa.fa-cog.fa-spin.fa-3x.fa-fw.hide#command-processing
.read-more.pull-right
  %p.tiny
    %i.fa.fa-book
    Read the full
    = link_to 'OpenStack Client documentation', ExternalLinks.python_openstack_client_docs_path, style: 'text-decoration: underline'