.row
  .col-md-3{style: 'height: 75vh'}
    .bg-success.terminal-help.osbg
      %h4
        %i.fa.fa-hand-peace-o
        Hello!
      %p.thin-text Try out a few commands in the terminal:
      .command-example
        %i.fa.fa-star
        %code flavor list
        .small
          %em List all the available instance flavors
      .command-example
        %i.fa.fa-star
        %code image list
        .small
          %em List all the available images
      .command-example
        %i.fa.fa-star
        %code
          server create --flavor
          %strong [flavor_name]
          \--image
          %strong [image_name] [server_name]
        .small
          %em Create a new instance
      .command-example
        %i.fa.fa-star
        %code server list
        .small
          %em List all the available servers
      .push
      %p.tiny.read-more
        %i.fa.fa-book
        Read the full
        = link_to 'OpenStack Client documentation', ExternalLinks.python_openstack_client_docs_path, style: 'text-decoration: underline'

  .col-md-9{style: 'height: 75vh'}
    %div.project-select
      .buttons-right
        .form-inline
          .form-group
            = select_tag :projects, options_for_terminal_projects(@projects), class: 'form-control'

    .terminal-responsive
      .openstack-client-terminal.hide
        .buttons-left.term-buttons
          %a{href: '', id: 'saveTerminal', class: 'btn btn-default'}
            %i.fa.fa-save
            Save
          %a{href: '', id: 'clearTerminal', class: 'btn btn-default'}
            %i.fa.fa-eraser
            Clear
          %i.fa.fa-cog.fa-spin.fa-3x.fa-fw.hide#command-processing
