.row
  .col-md-3
    .bg-success.terminal-help
      %h4
        %i.fa.fa-hand-peace-o
        Hello!
      %p.thin-text Try out a few commands in the OpenStack prompt:
      %p
        %em
          %code flavor list
        %br
        List all the available instance flavors
      %p
        %em
          %code image list
        %br
        List all the available images
      %p
        %em
          %code
            server create --flavor
            %strong [flavor_name]
            \--image
            %strong [image_name] [server_name]
        %br
        Create a new instance
      %p
        %em
          %code server list
        %br
        List all the available servers

      %p.tiny
        %i.fa.fa-book
        Read the full
        = link_to 'OpenStack Client documentation', ExternalLinks.python_openstack_client_docs_path

  .col-md-9
    %div
      .buttons-left
        .form-inline
          .form-group
            = select_tag :projects, options_for_terminal_projects(@projects), class: 'form-control'
    %hr
    .terminal-responsive
      .openstack-client-terminal
        .buttons-left.term-buttons
          %a{href: '', id: 'saveTerminal', class: 'btn btn-default'}
            %i.fa.fa-save
            Save
          %a{href: '', id: 'clearTerminal', class: 'btn btn-default'}
            %i.fa.fa-eraser
            Clear
          %i.fa.fa-cog.fa-spin.fa-3x.fa-fw.hide#command-processing
