function exportTerminalBuffer() {
  output = $.terminal.strip($(".terminal").terminal().get_output());
  output = output.split('<i class="fa fa-cog fa-spin fa-fw"id="command-processing"></i>').join('');
  output = output.split('&nbsp;').join(' ');
  return output;
}

function saveTerminalOutput(filename, text) {
  var pom = document.createElement('a');
  pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  pom.setAttribute('download', filename);

  if (document.createEvent) {
    var event = document.createEvent('MouseEvents');
    event.initEvent('click', true, true);
    pom.dispatchEvent(event);
  }
  else {
    pom.click();
  }
}

function setPromptProperties() {
  $(".terminal textarea").attr("autocomplete", "off");
  $(".terminal textarea").attr("autocorrect", "off");
  $(".terminal textarea").attr("autocapitalize", "off");
  $(".terminal textarea").attr("spellcheck", "false");
}

function nyan() {
  h = $('.osx .window').width() / 2;
  return "<div><div style='width: 100%; background-color: #0f4d8f'><img style='width: " + h + "px;' src='<%= asset_path("nyan.gif") %>' class='nyan'></div></div>";
}

function nyanPlay(term) {
  term.echo(nyan(), {'raw': true});
  setTimeout(function(){term.scroll(4000);}, 100);
  $("#nyan-sound")[0].play();
}

function nyanClear() {
  $('img.nyan').parent().parent().empty().remove();
  $("#nyan-sound")[0].pause();
  $("#nyan-sound")[0].currentTime = 0;
}

function showCog(term) {
  cog = '<i class="fa fa-cog fa-spin fa-fw"id="command-processing"></i>';
  term.echo(cog, {'raw': true});
}

function hideCog() {
  setTimeout(function() {
    $('i#command-processing').parent().parent().empty().remove();
  },200);
}

function stranger(term) {
  term.clear()
  logo = '<img class="stranger" src="<%= asset_path("stranger.png") %>">';
  term.echo(logo, {'raw': true});
  term.echo(new String("\n[[gb;#CC0000;;black]Type 'help' for a tutorial or 'commands' for a full reference.]\n"));
}
