%h1 So long...

%div
  .sad-cloud
  .pull-left
    %p Your account has been scheduled for termination and you will be notified by email of your final outstanding balance.
    %p Thanks for using DataCentred cloud services.