%table.table
  %thead
    %th.status-head
    %th
      Ticket
  %tbody{:'ng-repeat' => "ticket in getTickets(status)"}
    %tr
      %td.status
        %i.fa.fa-circle{:style => "color: {{status.color;}}"}
      %td
        =link_to "({{ticket.reference}}) {{ticket.title}}", "", {:'ng-click' => 'showTicket($index)'}