.ticket
  %div.btn-group
    %button.btn.btn-primary.dropdown-toggle{:'data-toggle' => "dropdown", :type => "button"}
      %i.fa.fa-circle{:style => "color: {{selectedTicket.status.color;}}"}
      Status: {{selectedTicket.status.name}}
      %span.caret
    %ul.dropdown-menu{:'id' => "statusDropdown", :role => "menu"}
      %li{:'ng-repeat' => "status in statuses"}
        %a{:'status-name' => "{{status.name}}"}
          {{status.name}}
  %div.btn-group
    %button.btn
      %i.fa.fa-pencil
      Edit
  %div.btn-group
    %button.btn
      %i.fa.fa-comment
      Comment
  </div>

  %h1 ({{selectedTicket.reference}}) {{selectedTicket.title}}
  %h3 Description
  %p {{selectedTicket.description}}
  %h3 Comments
  %div.comments
    %ul.media-list
      %li.media{:'ng-repeat' => ("comment in selectedTicket.comments")}
        %a.pull-left
          %img{:'ng-src' => "{{comment.person.picture}}"}
        %div.media-body
          %h4.media-heading
            {{comment.person.name}}
          %p
            {{comment.time | momentDateTime}}
          %p
            {{comment.content}}