.ticket
  %div.btn-group
    %button.btn{'data-target' => '#newComment', 'data-toggle' => 'modal'}
      %i.fa.fa-comment
      Comment

  %h1 ({{selectedTicket.reference}}) {{selectedTicket.title}}
  %h3 Description
  %p {{selectedTicket.description}}
  %h3 Comments
  %div.comments
    %ul.media-list
      %li.media{:'ng-repeat' => ("comment in selectedTicket.comments")}
        %a.pull-left
          = gravatar_image_tag("{{comment.email}}", :class => 'img-circle')
        %div.media-body
          %h4.media-heading
            {{comment.email}}
          %p
            {{comment.time | momentDateTime}}
          %p
            {{comment.content}}

.modal.fade{'id' => 'newComment', 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => 'newComment', 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      = form_for '' do |f|
        .modal-header
          Comment
        .modal-body
          .input-group
            %span.input-group-addon
              %i.fa.fa-comment
            = f.text_field :comment, placeholder: 'Comment', class: "form-control", autofocus: true
        .modal-footer
          %button.btn{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            Cancel
          %button.btn.btn-primary
            Submit