.container-fluid{:'ng-controller' => "TicketsController", :'ng-init' => 'populateTickets()'}
  .col-xs-12{:'ng-show' => "isLoading"}
    .some-info.space-after
      %p
        %i.fa.fa-refresh.fa-spin
      %p
        Loading tickets...

  %div
    .col-xs-12{:'ng-show' => "hasFailed"}
      .some-info.space-after
        %p
          %i.fa.fa-warning
        %p
          We can't load your support tickets right now.
        %p
          Please check back later.

    %div{:'ng-hide' => "hasFailed"}

      .col-xs-12.space-after
        %div.clear-fix{:'ng-hide' => "isLoading"}
          %button.btn.btn-primary.pull-right
            %i.fa.fa-edit
            New Ticket

      .col-xs-12.space-after{:'ng-hide' => "isLoading"}

        .some-info.clear-fix.space-after{:'ng-hide' => "hasTickets()"}
          %p
            %i.fa.fa-square-o
          %p
            There are no tickets.
          %p
            Click &ldquo;New Ticket&rdquo;.

      .col-xs-3
        %div{:'ng-show' => "hasTickets()"}
          %tabset
            %tab{:'ng-repeat' => "status in statuses | orderBy:'-name'", :heading => '{{status.name}}'}
              = render partial: 'tickets_list'

      .col-xs-9
        .some-info.space-after.ticket{:'ng-hide' => "selectedTicket || !hasTickets()"}
          %p
            %i.fa.fa-info-circle
          %p
            == Select a ticket, or #{link_to 'create a new one?',''}
        %div{:'ng-show' => "selectedTicket"}
          = render partial: 'ticket'