.container-fluid{:'ng-controller' => "TicketsController"}
  .col-xs-6

    .some-info{:'ng-show' => "tickets"}
      %p
        %i.fa.fa-refresh.fa-spin.fa-5x
      %p
        Loading tickets...

    %div{:'ng-hide' => "tickets"}
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#openTickets', 'data-toggle' => 'tab'}
            Open
        %li
          %a{:href => '#closedTickets', 'data-toggle' => 'tab'}
            Closed
      .tab-content
        .page-controls
          %button.btn.btn-primary.btn-xs
            %i.fa.fa-edit
            New Ticket

        .tab-pane.active#openTickets
          = render partial: 'shared/tickets_list', locals: {status: "open"}

        .tab-pane#closedTickets
          = render partial: 'shared/tickets_list', locals: {status: "closed"}
  .col-xs-6
    = render partial: 'shared/ticket'