.container-fluid{:'ng-controller' => "TicketsController"}
  .col-xs-6

    .some-info{:'ng-hide' => "!!tickets"}
      %p
        %i.fa.fa-refresh.fa-spin.fa-5x
      %p
        Loading tickets...

    .page-controls
      %button.btn.btn-primary.btn-xs
        %i.fa.fa-edit
        New Ticket

    %div{:'ng-init' => 'getTickets()', :'ng-show' => "!!tickets"}
      %tabset
        %tab{:'ng-repeat' => "(status, status_object) in statuses", :heading => "{{status}}"}
          = render partial: 'shared/tickets_list'

  .col-xs-6
    = render partial: 'shared/ticket'