.container-fluid{:'ng-controller' => "TicketsController", :'ng-init' => 'populateTickets()'}
  .col-xs-12{:'ng-show' => "isLoading"}
    .some-info
      %p
        %i.fa.fa-refresh.fa-spin
      %p
        Loading tickets...

  %div
    .col-xs-12{:'ng-show' => "hasFailed"}
      .some-info{}
        %p
          %i.fa.fa-warning
        %p
          We can't load your support tickets right now.
        %p
          Please check back later.

    %div{:'ng-hide' => "hasFailed"}

      .col-xs-12{:'ng-hide' => "isLoading"}

        .some-info{:'ng-hide' => "hasTickets()"}
          %p
            %i.fa.fa-square-o
          %p
            There are no tickets.
          %p
            Click &ldquo;New Ticket&rdquo;.

      .col-xs-3
        %div{:'ng-show' => "hasTickets()"}
          %tabset
            %tab{:'ng-repeat' => "status in statuses | orderBy:'-name'", :heading => '{{status.name}}'}
              = render partial: 'tickets_list'

      .col-xs-9
        .some-info.ticket{:'ng-hide' => "selectedTicket || !hasTickets()"}
          %p
            %i.fa.fa-info-circle
          %p
            == Select a ticket. Or #{link_to 'create a new one?',''}
        %div{:'ng-show' => "selectedTicket"}
          = render partial: 'ticket'