$main-color: #213550;
$primary-blue: #415F77;
$light-gray: #e9e9e9;
$medium-gray: rgb(222, 222, 222);
$dark-gray: #585858;

// Entire page
div.full-page {
  background-color: $light-gray;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

#compute-volume-network-tabs .content-section {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
}
//

// Header
div#usage-capacity-summary {
  border-radius: 5px;
  background-color: $light-gray;
  border: 2px solid $medium-gray;
  width: 100%;
}

div#usage-capacity-summary h4.header-title {
  text-align: right;
  font-size: 16px;
  color: $primary-blue;
}

div#usage-capacity-summary h3.organization-name {
  margin: 0px;
  vertical-align: middle;
  padding: 5px;
}

div#usage-capacity-summary div.header-column {
  height: 60px;
  padding: 10px 10px 20px 30px;
}

div#usage-capacity-summary div.progress-caption {
  text-align: center;
  font-size: 12px;
}

div#usage-capacity-summary div.progress#capacity-used {
  height: 10px;
}

div#usage-capacity-summary div.progress {
  margin-bottom: 8px;
}
div#usage-capacity-summary span.progress-bar-text {
  float: right;
  color: #AAAAAA;
}
//

// Openstack Button
div#dashboard_buttons.pull-right {
  padding: 20px 20px 20px 20px;
}
//

// Tabs
div.centered-tabs {
  text-align:center;
}

ul.nav.nav-tabs#compute-volume-network-tabs li {
  width: 25%;
  float: none;
  display: inline-block;
}

ul.nav.nav-tabs#compute-volume-network-tabs li a {
  margin: 50px 0 0 0;
  border-top: 2px solid $medium-gray;
  border-left: 2px solid $medium-gray;
  border-right: 2px solid $medium-gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul.nav.nav-tabs#compute-volume-network-tabs li.active a {
  color: $primary-blue;
  font-weight: bold;
  background-color: $light-gray;
}
//

// Tabs Content
div#graph-tabs div.tab-content {
  background-color: $light-gray;
}

div#graph-tabs h4.section-title{
  color: $primary-blue;
  font-weight: bold;
  text-align: center;
  margin: 40px 20px -50px 30px;

}

div#graph-tabs div.row.graphs-container {
  border: 2px solid $medium-gray;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
}

div#graph-tabs .individual-graph {
  height: 400px;
  max-width: 400px;
  margin: 0 auto;
}
//
