$main-color: #213550;
$primary-blue: #415F77;
$light-gray: #f0f0f0;
$very-light-gray: rgb(249,249,249);
$medium-gray: #ccc;
$dark-gray: #585858;

// Tabs
div.centered-tabs {
  text-align:center;
  margin-bottom: 30px;
}

ul.nav.nav-tabs#compute-volume-network-tabs {
  border-bottom: 1px solid #fff;
}

ul.nav.nav-tabs#compute-volume-network-tabs li {
  width: 25%;
  float: none;
  display: inline-block;
}

ul.nav.nav-tabs#compute-volume-network-tabs li a {
  color: #888;
  font-size: 1em;
  margin: 50px 0 0 0;
  border-bottom: 1px solid $light-gray;
  border-top: none;
  border-left: none;
  border-right: none;
}

ul.nav.nav-tabs#compute-volume-network-tabs li a:hover {
  color: #888;
  cursor: pointer;
  border-bottom: 1px solid $medium-gray;
}

ul.nav.nav-tabs#compute-volume-network-tabs li.active a {
  color: $primary-blue;
  font-weight: 500;
  border-bottom: 2px solid $primary-blue;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

// .individual-graph {
//   height: 100%;
// }
//

// Tabs Content

div.container-with-border {
  border-radius: 2px;
  border: 1px solid $medium-gray;
  background-color: $very-light-gray;
  margin: 5px;
}
.row-fluid.graphs-container .col-md-6 {
  padding: 0;
}

div.section-title{
  color: $primary-blue;
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  ul.nav.nav-tabs#compute-volume-network-tabs li a {
    font-size: 13px;
    padding: 0px;
  }

  .individual-graph {
    height: 260px;
  }
}
