.container.profile {
  width: 50%;
  float: left;
}

.profile-image {
  margin-right: 120px;
  float: right;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .profile-image {
    float: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .container.profile {
    width: 100%;
  }
}