@import "settings";

.status-head, .status {
  width: 32px;
  text-align: right;
}

.some-info {
  color: $headings-color;
  background-color: #eee;
  p {
    margin: 0;
    padding: 4px 0 4px 0;
    line-height: 32px;
    text-align: center;
  }
  p:first-child {
    line-height: 96px;
    font-size: 500%;
    color: $brand-primary;
  }
}

button > i.fa {
  padding-right: 4px;
}