$status-open-color: green;
$status-closed-color: red;

.status-head, .status {
  width: 32px;
  text-align: right;
}

.status-open {
  color: $status-open-color;
}

.status-closed {
  color: $status-closed-color;
}