@import "settings";

.status-head, .status {
  width: 32px;
  text-align: right;
}

.fa.Open {
  color: #00CC00;
}

.fa.Closed {
  color: #CC0000;
}

.icon-High {
  color: #F88000;
}

.icon-Emergency {
  color: #CC0000;
}

.icon-Normal {
  color: #0097CF;
}

.icon-Low {
  color: #A3A3A3;
}

.some-info {
  color: $headings-color;
  background-color: #eee;
  overflow-y: hidden;
  max-height: 500px;
  p {
    margin: 0;
    padding: 4px 0 4px 0;
    line-height: 32px;
    text-align: center;
  }
  p:first-child {
    line-height: 96px;
    font-size: 500%;
    color: $brand-primary;
  }
}

.animate-show.ng-hide {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.animate-show.ng-hide {
  max-height: 0;
}

.space-after {
  margin-bottom: 8px;
}

.clear-fix {
  clear: both;
}

button > i.fa {
  padding-right: 4px;
}

.btn-group.pull-right {
  margin-left: 4px;
}

a.gravatar img {
  width: 72px;
  height: 72px;
}

#comment-button {
  margin-bottom: 20px;
}

.ticket.selected {
  background-color: #eee;
}

.big-icon {
  font-size: 150%;
}

.media-body p img {
  max-width: 100%;
}

div#new-ticket .input-group {
  margin-bottom: 5px;
}

.user-callout {
  padding-top: 10px;
  padding-bottom: 1px;
  width: 90%;
  border-radius: 10px;
  background-color: $brand-primary-fade;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
}

.user-callout.staff {
  background-color: #ddd;
}

h4.department-ref {
  margin-bottom: 30px;
}

.user-callout:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: $brand-primary-fade transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 12px;
}

.user-callout.staff:after {
  border-color: #ddd transparent;
}

p.timestamp {
  text-align: right;
  width: 90%;
  font-size: 10px;
  padding-top: 5px;
  padding-right: 10px;
}

a.ticket-top-anchor{
  position: absolute;
  display: block;
  top: -200px;
  visibility: hidden;
}

#incident-notice {
  font-size: 12px;
}

tr.unread-ticket {
  font-weight: bold;
}

@media only screen and (max-width: 992px), only screen and (max-device-width: 992px) {
  a.ticket-top-anchor{
    position: relative;
    display: block;
    top: -70px;
    visibility: hidden;
  }

  h4.department-ref .label {
    font-size: 12px;
  }
}
