.top-menu {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

span.top-menu-option {
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.9;
  text-align: center;
  cursor: pointer;
}

i.top-menu-icon {
  font-size: 3em;
}

.top-menu img {
  vertical-align: top;
  height: 40px;
  weidth: auto;
}