@import "settings";

.usage-back {
  // background-color: #d9edf7;
  padding: 10px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.usage-back i {
  color: #0af;
}

nav.choose-month {
  text-align: left;
}