.panel.panel-danger
  .panel-body.panel-padding
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          = render partial: "column_headings"
          %th Stripe Invoice
        %tbody
          - for invoice in @finalized_self_service_invoices
            %tr
              = render partial: "row", locals: {invoice: invoice}
              %td= link_to invoice.stripe_invoice_id, invoice.stripe_invoice_link, target: '_blank'
