.panel.panel-danger
  .panel-body.panel-padding
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          = render partial: "column_headings"
        %tbody
          - for invoice in @finalized_manual_invoices
            %tr
              = render partial: "row", locals: {invoice: invoice}