<div class='footer' id="email">
  <div class="pull-right">
    <p><a href="http://www.datacentred.co.uk" target="_blank">datacentred.co.uk</a></p>
  </div>
  <p>&copy; DataCentred Ltd <%= Date.today.year %></p>
</div>
<div class="push"></div>