<p>Missing items are active in the usage data but not active on OpenStack.</p>
<p>New items are active on OpenStack but not present in the usage data.</p>

<% for key in @keys -%>
  <% for prefix in ['missing', 'new'] -%>
    <% if @data["#{prefix}_#{key}".to_sym].present? -%>
      <h3><%= "#{key.titleize} (#{prefix})" %></h3>
      
      <p><% @data["#{prefix}_#{key}".to_sym].each do |k,v| -%><%= "#{v} (#{k})<br/>".html_safe -%><% end -%></p>
    <% end -%>
  <% end -%>
<% end -%>