<%= stylesheet_link_tag 'email' %>

<div class="container" id="email">
  <div class="push"></div>
  <div style="float:right"><%= image_tag asset_url('logo_large.png') %></div>

  <h1>Please activate your account</h1>

  <p>Once you're activated, you will only be charged for the resources you use.</p>
  
  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= support_root_url %>">Activate Account</a>
  </div>

  <h4>Why do I need to activate?</h4>

  <p>We need to verify your identity to activate your account, even if you have a discount code that provides a free trial. This is purely to prevent fraudulent use of our cloud services.</p>

  <ul><li>You will only get charged for the resources you use. If you don't use anything, you will not be charged and you're free to cancel your account at any time.</li></ul>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>