<%= render partial: 'email_style' %>
<div class="container" id="email">
  <h2>Card Reverification Failure</h2>
  <p>Organization:
  <%= @organization.inspect %>
  </p>
  <p>Card:
  <%= @card.inspect %>
  </p>
</div>
