<%= stylesheet_link_tag 'email' %>
<div class="container" id="email">
  <%= render partial: 'header' %>
  <h1>User Failed Fraud Check</h1>
  <p>Data:
  <%= @args %>
  </p>
  <p>Report:
  <%= link_to @report_url, @report_url %>
  </p>
</div>
