<%= stylesheet_link_tag '/email.css' %>

<div class="container" id="email">
  <%= render partial: 'header' %>
  <h1>We're back!</h1>

  <p>Thanks for your patience. We're pleased to tell you that new signups are being accepted again.</p>

  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= new_signup_url(email: @email) %>">Sign Up</a>
  </div>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>