<%= stylesheet_link_tag '/email.css' %>

<div class="container" id="email">
  <%= render partial: 'header' %>

  <h1>You are reaching your quota limit</h1>

  <p>Hi there,</p>

  <p>You are reaching your quota limit. You can change your limits by raising a support ticket by clicking below.</p>

  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= support_tickets_url %>">Request New Quota Limit</a>
  </div>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>
