<div id="container">
  <p>Hello,</p>

  <p>A password reset has been requested for your account. If you did not request a password reset then please disregard this message.</p>

  <p>In order to proceed, please <%= link_to 'create yourself a new password', reset_url(@reset.token), :target => "_blank" %>.</p>

  <p>The above reset link will expire at <%= am_pm_time(@reset.expires_at) %> on <%= long_date(@reset.expires_at) %>.<p>

  <p></p>

  <p>Kind regards,<br/>
  DataCentred Ltd.</p>
</div>