<%= stylesheet_link_tag 'email' %>
<style><%= File.read(Rails.root.join('app/assets/stylesheets/email.css')) %></style>

<div class="container" id="email">
  <%= render partial: 'header' %>

  <h1>Account Review Successful</h1>

  <p>Good news! Your account has passed review and access to compute and storage services has been resumed.</p>

  <p>Please let us know if you have any questions or issues.</p>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>