<div id="container">
  <p>Hello and welcome to DataCentred,</p>

  <p>In order to access your services with us, please <%= link_to 'set up your new account', signup_url(@signup, :token => @signup.token) %>.</p>

  <p>The above setup link will expire in 72 hours. If your token has expired, please contact support@datacentred.co.uk to request a new token.</p>

  <p>This message was generated on <%= DateTime.now %>.</p>

  <p>Kind regards,<br/>
  DataCentred Ltd.</p>
</div>