<%= stylesheet_link_tag 'email' %>
<style><%= File.read(Rails.root.join('app/assets/stylesheets/email.css')) %></style>

<div class="container" id="email">
  <h1>Sanity Check Failures</h1>
  <%= render partial: 'usage' %>
</div>