- if object_results
  %h2 Object Storage
  - object_results.each do |tenant, tbh|
    %h3== #{tenant} project
    - if tbh.present? && tbh > 0
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-cloud
            %th
              %i.fa.fa-clock-o
              Terabyte Hours
            %th &nbsp;
            %th &nbsp;
            %th &nbsp;
            %th &nbsp;
        %tbody
          %tr.highlight.bottomline
            %td
              %em Total usage for all buckets
            %td
              = number_with_delimiter(tbh.round(2), :delimiter => ',')
              TBh
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
    - else
      No storage data for this period.