- if tbh && tbh > 0
  %div.usage-back
    %h3 Object Storage
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-cloud
            %th
              %i.fa.fa-clock-o
              Terabyte Hours
            %th
              %i.fa.fa-gbp
              Total
            %th &nbsp;
            %th &nbsp;
            %th &nbsp;
        %tbody
          %tr.highlight.bottomline
            %td
              %em Total usage for all buckets
            %td
              = number_with_delimiter(tbh.round(2), :delimiter => ',')
              TBh
            %td
              == £#{number_with_precision((tbh * RateCard.object_storage).round(2), :delimiter => ',', :separator => '.', :precision => 2)}

