@import "settings";

img.logo {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}

i.dashboard-icon {
  font-size: 6em;
}

.dashboard-option {
  opacity: 0.9;
  width: 140px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

a.dashboard-link {
  color: $headings-color;
}

a.dashboard-link:hover, a.dashboard-link:active {
  text-decoration: none;
}

.dashboard-option:hover {
  opacity: 1.0;
}

.dashboard-option-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.dashboard-option-disabled:hover {
  opacity: 0.5 !important;
}

.dashboard-option:hover h4 {
  color: $menu-link-hover-colour;
}

.dashboard-option h4 {
  color: $menu-link-colour;
}

.dashboard-option-disabled:hover h4 {
  color: $menu-link-colour;
}

a.back-to-dash {
  text-decoration: none;
}