@import "settings";

$main-color: #213550;
$primary-blue: #415F77;
$bright-blue: rgb(101,157,229);
$light-gray: #eeeeee;
$very-light-gray: rgb(249,249,249);
$medium-gray: #ccc;
$dark-gray: #585858;

i.dashboard-icon {
  font-size: 6em;
}

button#user-menu {
  background-color: $brand-primary;
  border: none;
  webkit-box-shadow: none;
  box-shadow: none;
}

button#user-menu:active, button#user-menu:hover,
  button#user-menu#focus {
  webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1.0;
}

div.dashboard-option {
  opacity: 0.9;
  width: 140px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

a.dashboard-link {
  color: $headings-color;
}

a.dashboard-link:hover, a.dashboard-link:active {
  text-decoration: none;
}

div.dashboard-option:hover {
  opacity: 1.0;
}

div.dashboard-option-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

div.dashboard-option-disabled:hover {
  opacity: 0.5 !important;
}

div.dashboard-option:hover h4 {
  color: $menu-link-hover-colour;
}

div.dashboard-option h4 {
  color: $menu-link-colour;
}

div.dashboard-option-disabled:hover h4 {
  color: $menu-link-colour;
}

a.back-to-dash {
  text-decoration: none;
}

img.dashboard-option {
  height: 84px;
  width: auto;
}

.not-yet-enabled div {
  opacity: 0.0 !important;
  cursor: initial !important;
}

div.dashboard-element {
  width: 95%;
  background: $brand-primary-fade;
  font-size: 22px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
     -moz-transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
       -o-transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
          transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335); /* easeInCirc */

  -webkit-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
     -moz-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
       -o-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
          transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335); /* easeInCirc */
}
//////////////////////////////////////////////////

div.full-page {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.container-dashboard {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

row.dashboard-main-content {
  width: 90%;
}
//

// Header
div#usage-capacity-summary {
  border-radius: 3px;
  border: 1px solid $medium-gray;
  background-color: $very-light-gray;
  width: 100%;
}

div#usage-capacity-summary h4.header-title {
  text-align: right;
  font-size: 16px;
  color: $primary-blue;
}

div#usage-capacity-summary h3.organization-name {
  margin: 0px;
  vertical-align: middle;
  padding: 5px;
  font-size: 1.4em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

div#usage-capacity-summary div.header-column {
  padding: 10px 10px 20px 20px;
}

div#usage-capacity-summary div.progress-caption {
  text-align: center;
  font-size: 12px;
}

div#usage-capacity-summary div.progress#capacity-used {
  height: 10px;
}

div#usage-capacity-summary div.progress {
  margin-bottom: 8px;
}
div#usage-capacity-summary span.progress-bar-text {
  float: right;
  color: #AAAAAA;
}

// Openstack Button

div#dashboard_buttons.pull-right {
  padding: 20px 40px 20px 20px;
}

// Tabs

div.dashboard-content {
  padding-top: 80px;
}

ul#dashboard-tabs li {
  width: 20%;
  float: none;
  display: inline-block;
}

ul#dashboard-tabs li a {
  border: none;
  padding-bottom: 20px;
  font-size: 1em;
  font-weight: 400;
  color: #888;
  text-align: center;
}

ul#dashboard-tabs li a:hover {
  color: #888;
  cursor: pointer;
  border-bottom: 1px solid #888;
  border-top: none;
  border-left: none;
  border-right: none;
}

ul#dashboard-tabs li.active a {
  border: none;
  border-bottom: 2px solid $primary-blue;
  color: $primary-blue;
  font-size: 1em;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.tab-content#dashboard-tabs-content {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  div.dashboard_buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
