@import "settings";

i.dashboard-icon {
  font-size: 6em;
}

button#user-menu {
  background-color: $brand-primary;
  border: none;
  webkit-box-shadow: none;
  box-shadow: none;
}

button#user-menu:active, button#user-menu:hover,
  button#user-menu#focus {
  webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1.0;
}

div.dashboard-option {
  opacity: 0.9;
  width: 140px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

a.dashboard-link {
  color: $headings-color;
}

a.dashboard-link:hover, a.dashboard-link:active {
  text-decoration: none;
}

div.dashboard-option:hover {
  opacity: 1.0;
}

div.dashboard-option-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

div.dashboard-option-disabled:hover {
  opacity: 0.5 !important;
}

div.dashboard-option:hover h4 {
  color: $menu-link-hover-colour;
}

div.dashboard-option h4 {
  color: $menu-link-colour;
}

div.dashboard-option-disabled:hover h4 {
  color: $menu-link-colour;
}

a.back-to-dash {
  text-decoration: none;
}

img.dashboard-option {
  height: 84px;
  width: auto;
}

.not-yet-enabled div {
  opacity: 0.0 !important;
  cursor: initial !important;
}

div.dashboard-element {
  width: 95%;
  background: $brand-primary-fade;
  font-size: 22px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
     -moz-transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
       -o-transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335);
          transition: all 1000ms cubic-bezier(0.600, 0.040, 0.980, 0.335); /* easeInCirc */

  -webkit-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
     -moz-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
       -o-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
          transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335); /* easeInCirc */
}

.graphs-content-container {
  width: 80%;
}
