@import "settings";

div.thunder-cloud {
  background: url('../thunder.svg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-size: 100% 100%;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

div.error-page {
  text-align: center;
}

div.errorExplanation {
  background-color: $brand-warning;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  p {
    margin: 0;
  }
}

div#flash {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

div#flash p.alert, div#flash p.error {
  background-color: $brand-warning;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

div#flash p.error:before, div#flash p.alert:before {
  content: '✘ '
}

div#flash p.notice {
  background-color: $brand-success;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

div#flash p.notice:before {
  content: '✔ '
}

div.errorExplanation h3 {
  color: #fff;
  font-size: 12px;
}

div.errorExplanation a.close {
  color: #fff; 
}

div.successMessage {
  padding: 1px 5px 5px 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

div.successMessage h3 {
  color: $brand-success;
  font-size: 16px;
}
