@import "settings";

div.thunder-cloud {
  background: url('../thunder.svg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-size: 100% 100%;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

div.error-page {
  text-align: center;
}

div.errorExplanation {
  background-color: $brand-warning;
  padding: 1px 5px 5px 15px;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}

div.errorExplanation h3 {
  color: #fff;
  font-size: 12px;
}

div.errorExplanation a.close {
  color: #fff; 
}

div.successMessage {
  padding: 1px 5px 5px 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

div.successMessage h3 {
  color: $brand-success;
  font-size: 16px;
}
