footer {
  color: #000;
  padding: 20px 0px 0px;
  height: 60px;
  font-size: 12px;
}

footer .copyright {
  float: right;
  color: rgba(0, 0, 0, 0.7);
}

.push {
  height: 60px;
}

footer a:hover {
  color: #000;
}

footer a {
  color: rgba(0, 0, 0, 0.7);
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;  
}

html, body {
  height: 100%;
}

@media only screen and (max-height: 420px), only screen and (max-device-height: 420px) {
  footer {
    display: none;
  }
}
