footer {
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
  padding: 20px 0px 0px;
  height: 60px;
  text-align: right;
}

.push {
  height: 60px;
}

footer a, footer a:hover {
  color: #000;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;  
}

html, body {
  height: 100%;
}

@media only screen and (max-height: 420px), only screen and (max-device-height: 420px) {
  footer {
    display: none;
  }
}
