.container#sign-in {
  width: 580px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  top: 0; left: 0; bottom: 0; right: 0;
  background: #efefef;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 35px;
}

img.sign-in-logo {
  height: auto;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .container#sign-in {
    width: 260px;
  }
}

#flashes p {
  text-align: center;
}