body {
  height: 100%;
}
div.container#email {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  width: 85%;
  background: #fafafa;
  border-radius: 5px;
  margin-bottom: 10px;
  text-shadow: none !important
  color: #000 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

div.footer#email {
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  color: #000 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

div.footer#email a {
  text-decoration: none;
}

div.footer#email p {
  font-size: 9px;
  margin: 0px;
}

div.container#email h1 {
  font-weight: lighter;
  font-size: 30px;
}

div.container#email h2, div.container#email h3, div.container#email h4 {
  color: #666;
  font-weight: lighter;
}

div.container#email h2 {
  font-size: 25px;
}

div.container#email h3 {
  font-size: 20px;
}

div.container#email h4 {
  font-size: 15px;
}

div.container#email p, div.container#email ul > li {
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

div.push {
  height: 60px;
}

div.container#email a {
  text-decoration: none;
}

div.pull-right {
  float: right !important;
}

div.container#email img.logo_email {
  margin-bottom: 15px;
  height: auto;
  width: 150px;
}

div.container#email a.confirm {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 62px;
  background: #1a76bc;
  display: block;
  width: 35%;
  min-width: 200px;
  min-height: 60px;
  border-radius: 3px;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

div.container#email a.confirm:hover, div.container#email a.confirm:active {
  background: #74C8EA !important;
}