body {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: transparent !important; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; height: 100%; line-height: 1.428571429; margin: 0; text-shadow: none !important
}

div.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

div.push {
  height: 60px;
}

div.pull-right {
  float: right !important;
}