body {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: transparent !important; box-shadow: none !important; box-sizing: border-box; color: #000 !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; height: 100%; line-height: 1.428571429; margin: 0; text-shadow: none !important
}

div.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

div.push {
  height: 60px;
}

div.pull-right {
  float: right !important;
}

a.confirm {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 62px;
  background: #1a76bc;
  display: block;
  width: 50%;
  min-height: 60px;
  border-radius: 3px;
  color: #ffffff;
}

a.confirm:hover, a.confirm:active {
  background: #74C8EA !important;
}