@charset "utf-8";

@import "settings";
@import 'bootstrap-custom';

@import "font-awesome-sprockets";
@import "font-awesome";

@import "components/dashboard";
@import "components/forms";
@import "components/support/roles";
@import "components/footer";
@import "overrides";
@import "bootstrap-select";
@import "select2";
@import "jquery.terminal";
