label.checkbox {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

.controls {
  margin-left: 20px;
}

.tiny {
  font-size: 10px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}