label.checkbox {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

.controls {
  margin-left: 20px;
}

.tiny {
  font-size: 10px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

//From http://angular-ui.github.io/bootstrap/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

p {
  word-wrap: break-word;
}

.form-control-thirds {
    min-width: 0 !important;
    width: 33.33% !important;
    display: inline !important;
}

.form-control-halves {
    min-width: 0 !important;
    width: 50% !important;
    display: inline !important;
}

.input-group-addon {
  min-width: 40px !important;
}

.Emergency {
  background-color: #F80000;
}

.High {
  background-color: #F88000;
}

.Normal {
  background-color: #0097CF;
}

.Low {
  background-color: #A3A3A3;
}

table tr.highlight {
  background: #eee;
}

table tr.bottomline {
  border-top: solid 3px #ccc;
}

table tr.highlight td {
  font-weight: bold;
}

.progress-bar-warning {
  background-color: #ffaa00;
}

.hideShowPassword-wrapper {
  width: 100% !important;
}

.click-to-reveal em {
  cursor: pointer;
}

p.thin-text{
  font-weight: lighter;
}
