$brand-primary: #213550;
$brand-info: #3D7D99;
$brand-warning: #FF5440;
$brand-danger: #CC142F;
$brand-success: #0F9D58;

$brand-primary-fade: #d9edf7;

$headings-font-family: arial, sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: #585858;
$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 1px;

$menu-link-colour: #eee;
$menu-link-hover-colour: #AE4725;
