$brand-primary: #46B1E1;
$brand-info: #3D7D99;
$brand-warning: #FF5440;
$brand-danger: #CC142F;
$brand-success: #0F9D58;

$headings-font-family: 'Signika', arial, sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: #585858;
$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 1px;

$menu-link-colour: #C47E50;
$menu-link-hover-colour: #AE4725;
