!!!
%html{'ng-app' => "angularJS"}
  %head
    %title DataCentred Admin Dashboard
    = render partial: 'shared/head'

%body
  = render partial: 'shared/environment'
  #wrap
    #flashes= display_flash
    %div.page-body
      .container
        = yield
